<h1>路段車流量 vs 路段車流量</h1>
<select id="traffic1" class="ui search dropdown">
<option value="市高往東  環河中華">市高往東  環河中華</option>
<option value="市高往東  中華承德">市高往東  中華承德</option>
<option value="市高往東  承德中山">市高往東  承德中山</option>
<option value="市高往東  中山林森">市高往東  中山林森</option>
<option value="市高往東  新生建國">市高往東  新生建國</option>
<option value="市高往東  建國復興">市高往東  建國復興</option>
<option value="市高往東  復興敦化">市高往東  復興敦化</option>
<option value="市高往東  敦化上方">市高往東  敦化上方</option>
<option value="市高往東  敦化延吉">市高往東  敦化延吉</option>
<option value="市高往東  延吉永吉">市高往東  延吉永吉</option>
<option value="正氣橋  麥一市民">正氣橋  麥一市民</option>
<option value="市高往西  永吉光復">市高往西  永吉光復</option>
<option value="市高往西  光復延吉">市高往西  光復延吉</option>
<option value="市高往西  延吉復興">市高往西  延吉復興</option>
<option value="市高往西  復興建國">市高往西  復興建國</option>
<option value="市高往西  建國新生">市高往西  建國新生</option>
<option value="市高往西  新生林森">市高往西  新生林森</option>
<option value="市高往西  林森中山">市高往西  林森中山</option>
<option value="市高往西  中山承德">市高往西  中山承德</option>
<option value="市高往西  承德重慶">市高往西  承德重慶</option>
<option value="市高往西  重慶中華">市高往西  重慶中華</option>
<option value="市高往西  中華環河">市高往西  中華環河</option>
<option value="建國快往北 辛亥高架接建高">建國快往北 辛亥高架接建高</option>
<option value="建國快往北 辛亥信義">建國快往北 辛亥信義</option>
<option value="建國快往北 和平信義">建國快往北 和平信義</option>
<option value="建國快往北 信義路上匝道">建國快往北 信義路上匝道</option>
<option value="建國快往北 信義仁愛">建國快往北 信義仁愛</option>
<option value="建國快往北 仁愛忠孝">建國快往北 仁愛忠孝</option>
<option value="建國快往北 忠孝長安">建國快往北 忠孝長安</option>
<option value="建國快往北 南京東路">建國快往北 南京東路</option>
<option value="建國快往北 南京民權">建國快往北 南京民權</option>
<option value="建國快往北 民權民族">建國快往北 民權民族</option>
<option value="建國快往北 民族濱江">建國快往北 民族濱江</option>
<option value="建國快往北 民權東路下匝道">建國快往北 民權東路下匝道</option>
<option value="建國快往北 南京東路下匝道">建國快往北 南京東路下匝道</option>
<option value="建國快往南 濱江民權">建國快往南 濱江民權</option>
<option value="建國快往南 民權東路">建國快往南 民權東路</option>
<option value="建國快往南 民權上匝道">建國快往南 民權上匝道</option>
<option value="建國快往南 民權長春">建國快往南 民權長春</option>
<option value="建國快往南 長春路上匝道">建國快往南 長春路上匝道</option>
<option value="建國快往南 長春長安">建國快往南 長春長安</option>
<option value="建國快往南 長安東路上匝道">建國快往南 長安東路上匝道</option>
<option value="建國快往南 長安忠孝">建國快往南 長安忠孝</option>
<option value="建國快往南 忠孝仁愛">建國快往南 忠孝仁愛</option>
<option value="建國快往南 仁愛信義">建國快往南 仁愛信義</option>
<option value="建國快往南 信義和平">建國快往南 信義和平</option>
<option value="建國快往南 和平辛亥">建國快往南 和平辛亥</option>
<option value="建國快往南 民權下匝道">建國快往南 民權下匝道</option>
<option value="建國快往南 忠孝東路下匝道">建國快往南 忠孝東路下匝道</option>
<option value="建國快往南 仁愛路下匝道">建國快往南 仁愛路下匝道</option>
<option value="建國快往南 仁愛路下匝道">建國快往南 仁愛路下匝道</option>
<option value="建國快往南 和平東路下匝道">建國快往南 和平東路下匝道</option>
<option value="建國快往南 辛亥路下匝道">建國快往南 辛亥路下匝道</option>
<option value="基隆快往東 水快上匝道">基隆快往東 水快上匝道</option>
<option value="基隆快往東 水源辛亥">基隆快往東 水源辛亥</option>
<option value="基隆快往東 辛亥敦化">基隆快往東 辛亥敦化</option>
<option value="基隆快往東 敦化樂業">基隆快往東 敦化樂業</option>
<option value="基隆快往東 辛亥下匝道">基隆快往東 辛亥下匝道</option>
<option value="基隆快往東 敦化下匝道">基隆快往東 敦化下匝道</option>
<option value="基隆快往西 樂業敦化">基隆快往西 樂業敦化</option>
<option value="基隆快往西 敦化上匝道">基隆快往西 敦化上匝道</option>
<option value="基隆快往西 敦化羅斯福">基隆快往西 敦化羅斯福</option>
<option value="基隆快往西 羅斯福路上匝道">基隆快往西 羅斯福路上匝道</option>
<option value="基隆快往西 羅斯福水源">基隆快往西 羅斯福水源</option>
<option value="辛亥高架 汀州路地下道">辛亥高架 汀州路地下道</option>
<option value="辛亥高架 泰順新生">辛亥高架 泰順新生</option>
<option value="辛亥高架 辛亥路下匝道">辛亥高架 辛亥路下匝道</option>
<option value="辛亥高架 建高接辛高">辛亥高架 建高接辛高</option>
<option value="辛亥高架 辛亥上匝道">辛亥高架 辛亥上匝道</option>
<option value="水源快往北 中正路-景美">水源快往北 中正路-景美</option>
<option value="水源快往北 景美上匝道">水源快往北 景美上匝道</option>
<option value="水源快往北 景美-基隆快">水源快往北 景美-基隆快</option>
<option value="水源快往北 福和橋上匝道">水源快往北 福和橋上匝道</option>
<option value="水源快往北 福和橋-師大路">水源快往北 福和橋-師大路</option>
<option value="水源快往北 師大路-泉州街">水源快往北 師大路-泉州街</option>
<option value="水源快往北 泉州街-青年路">水源快往北 泉州街-青年路</option>
<option value="水源快往北 青年路-萬大路">水源快往北 青年路-萬大路</option>
<option value="水源快往北 華中橋">水源快往北 華中橋</option>
<option value="水源快往北 萬大路上匝道">水源快往北 萬大路上匝道</option>
<option value="水源快往北 萬大路下匝道">水源快往北 萬大路下匝道</option>
<option value="水源快往南 景美下匝道">水源快往南 景美下匝道</option>
<option value="水源快往南 西園路-華中橋">水源快往南 西園路-華中橋</option>
<option value="水源快往南 華中橋">水源快往南 華中橋</option>
<option value="水源快往南 萬大路上匝道">水源快往南 萬大路上匝道</option>
<option value="水源快往南 華中橋-富民街">水源快往南 華中橋-富民街</option>
<option value="水源快往南 富民街上匝道">水源快往南 富民街上匝道</option>
<option value="水源快往南 富民街-泉州街">水源快往南 富民街-泉州街</option>
<option value="水源快往南 泉州街上匝道">水源快往南 泉州街上匝道</option>
<option value="水源快往南 泉州街-中正橋">水源快往南 泉州街-中正橋</option>
<option value="水源快往南 中正橋上匝道">水源快往南 中正橋上匝道</option>
<option value="水源快往南 中正橋-師大路">水源快往南 中正橋-師大路</option>
<option value="水源快往南 師大路">水源快往南 師大路</option>
<option value="水源快往南 師大路-永福橋">水源快往南 師大路-永福橋</option>
<option value="水源快往南 永福橋-基隆路">水源快往南 永福橋-基隆路</option>
<option value="水源快往南 福和橋上匝道">水源快往南 福和橋上匝道</option>
<option value="水源快往南 基高上匝道">水源快往南 基高上匝道</option>
<option value="水源快往南 基隆路-景美">水源快往南 基隆路-景美</option>
<option value="水源快往南 泉州街下匝道">水源快往南 泉州街下匝道</option>
<option value="水源快往南 永福橋下匝道">水源快往南 永福橋下匝道</option>
<option value="水源快往南 華中橋下匝道">水源快往南 華中橋下匝道</option>
<option value="環河快往北 市民下匝道">環河快往北 市民下匝道</option>
<option value="環河快往北 西園華江">環河快往北 西園華江</option>
<option value="環河快往北 華江橋上匝道">環河快往北 華江橋上匝道</option>
<option value="環河快往北 華江貴陽">環河快往北 華江貴陽</option>
<option value="環河快往北 貴陽市民">環河快往北 貴陽市民</option>
<option value="環河快往北 市民民生">環河快往北 市民民生</option>
<option value="環河快往北 貴陽街下匝道">環河快往北 貴陽街下匝道</option>
<option value="環河快往南 民生西-忠孝橋">環河快往南 民生西-忠孝橋</option>
<option value="環河快往南 忠孝橋">環河快往南 忠孝橋</option>
<option value="環河快往南 忠孝橋上匝道">環河快往南 忠孝橋上匝道</option>
<option value="環河快往南 市民上匝道">環河快往南 市民上匝道</option>
<option value="環河快往南 忠孝橋-中興橋">環河快往南 忠孝橋-中興橋</option>
<option value="環河快往南 中興橋">環河快往南 中興橋</option>
<option value="環河快往南 中興橋-桂林路">環河快往南 中興橋-桂林路</option>
<option value="環河快往南 桂林路-華江橋">環河快往南 桂林路-華江橋</option>
<option value="環河快往南 華江橋">環河快往南 華江橋</option>
<option value="環河快往南 華江橋上匝道">環河快往南 華江橋上匝道</option>
<option value="環河快往南 華江橋-西藏路">環河快往南 華江橋-西藏路</option>
<option value="環河快往南 西藏路下匝道">環河快往南 西藏路下匝道</option>
<option value="環河快往南 西藏路-西園路">環河快往南 西藏路-西園路</option>
<option value="環東出城　松隆匝道">環東出城　松隆匝道</option>
<option value="環東出城　正氣橋">環東出城　正氣橋</option>
<option value="環東出城　麥帥一橋">環東出城　麥帥一橋</option>
<option value="環東出城　堤頂舊宗">環東出城　堤頂舊宗</option>
<option value="環東出城　堤頂舊宗">環東出城　堤頂舊宗</option>
<option value="環東出城  堤頂舊宗">環東出城  堤頂舊宗</option>
<option value="環東出城　舊宗匝道">環東出城　舊宗匝道</option>
<option value="環東出城  彩虹經貿2">環東出城  彩虹經貿2</option>
<option value="環東出城  彩虹經貿3">環東出城  彩虹經貿3</option>
<option value="環東出城  彩虹經貿4">環東出城  彩虹經貿4</option>
<option value="環東出城  彩虹經貿5">環東出城  彩虹經貿5</option>
<option value="環東出城  彩虹經貿6">環東出城  彩虹經貿6</option>
<option value="環東出城  彩虹經貿7">環東出城  彩虹經貿7</option>
<option value="環東出城　南湖橋段1">環東出城　南湖橋段1</option>
<option value="環東出城　園區匝道">環東出城　園區匝道</option>
<option value="環東出城　往國道三號">環東出城　往國道三號</option>
<option value="環東進城　前方">環東進城　前方</option>
<option value="環東進城　經貿園區">環東進城　經貿園區</option>
<option value="環東出城  經貿彩虹2">環東出城  經貿彩虹2</option>
<option value="環東出城  經貿彩虹3">環東出城  經貿彩虹3</option>
<option value="環東出城  經貿彩虹4">環東出城  經貿彩虹4</option>
<option value="環東出城  經貿彩虹5">環東出城  經貿彩虹5</option>
<option value="環東出城  經貿彩虹6">環東出城  經貿彩虹6</option>
<option value="環東出城  經貿彩虹7">環東出城  經貿彩虹7</option>
<option value="環東出城  經貿彩虹8">環東出城  經貿彩虹8</option>
<option value="環東進城　舊宗新明">環東進城　舊宗新明</option>
<option value="環東進城  堤頂麥一">環東進城  堤頂麥一</option>
<option value="環東進城　麥帥一橋">環東進城　麥帥一橋</option>
<option value="環東進城　麥帥一橋">環東進城　麥帥一橋</option>
<option value="環東進城　永吉匝道">環東進城　永吉匝道</option>
<option value="正氣橋出城接麥二橋">正氣橋出城接麥二橋</option>
<option value="麥二正氣">麥二正氣</option>
<option value="洲美往北　中正社中">洲美往北　中正社中</option>
<option value="洲美往北  中正社中1">洲美往北  中正社中1</option>
<option value="洲美往北　社中通河">洲美往北　社中通河</option>
<option value="洲美往北　跨河橋段">洲美往北　跨河橋段</option>
<option value="洲美往北　福國路段">洲美往北　福國路段</option>
<option value="洲美往北　焚化廠南">洲美往北　焚化廠南</option>
<option value="洲美往北　焚化廠北">洲美往北　焚化廠北</option>
<option value="洲美往北   往大度">洲美往北   往大度</option>
<option value="洲美往北　大業匝道">洲美往北　大業匝道</option>
<option value="洲美往北　北投匝道">洲美往北　北投匝道</option>
<option value="洲美往南　大度匝道">洲美往南　大度匝道</option>
<option value="洲美往南  焚化廠北">洲美往南  焚化廠北</option>
<option value="洲美往南　焚化廠南">洲美往南　焚化廠南</option>
<option value="洲美往南　福國路段">洲美往南　福國路段</option>
<option value="洲美往南　跨河橋段">洲美往南　跨河橋段</option>
<option value="洲美往南　通河社中">洲美往南　通河社中</option>
<option value="環北往南　社中中正">環北往南　社中中正</option>
<option value="信快往北  木柵入口">信快往北  木柵入口</option>
<option value="信快往北 文山隧道">信快往北 文山隧道</option>
<option value="信快往北  文山象山間">信快往北  文山象山間</option>
<option value="信快往北  象山隧道">信快往北  象山隧道</option>
<option value="信快往北  象山出口">信快往北  象山出口</option>
<option value="E_I-N-EX2">E_I-N-EX2</option>
<option value="E_I-S-EN2">E_I-S-EN2</option>
<option value="信快往北  松仁匝道">信快往北  松仁匝道</option>
<option value="信快往北  象山隧道">信快往北  象山隧道</option>
<option value="信快往北  象山文山間">信快往北  象山文山間</option>
<option value="信快往北  文山隧道">信快往北  文山隧道</option>
<option value="信快往北  萬芳出口">信快往北  萬芳出口</option>
<option value="八德路    松江路-忠孝東路">八德路    松江路-忠孝東路</option>
<option value="八德路    建國北路-新生北路">八德路    建國北路-新生北路</option>
<option value="八德路    新生南路-建國北路">八德路    新生南路-建國北路</option>
<option value="八德路    建國北路-復興北路">八德路    建國北路-復興北路</option>
<option value="八德路    敦化北路-復興北路">八德路    敦化北路-復興北路</option>
<option value="八德路    復興北路-敦化南路">八德路    復興北路-敦化南路</option>
<option value="八德路    光復南路-敦化北路">八德路    光復南路-敦化北路</option>
<option value="八德路    敦化南路-光復南路">八德路    敦化南路-光復南路</option>
<option value="八德路    東興街?-光復北路">八德路    東興街?-光復北路</option>
<option value="八德路    光復南路-東興街">八德路    光復南路-東興街</option>
<option value="八德路    基隆路-東興街">八德路    基隆路-東興街</option>
<option value="八德路    東興街-基隆路">八德路    東興街-基隆路</option>
<option value="八德路    基隆路-東新街">八德路    基隆路-東新街</option>
<option value="八德路    東新街-基隆路">八德路    東新街-基隆路</option>
<option value="南港路    向陽路-東新街">南港路    向陽路-東新街</option>
<option value="三民路    民生東路-南京東路">三民路    民生東路-南京東路</option>
<option value="三民路    南京東路-民生東路">三民路    南京東路-民生東路</option>
<option value="三民路    民權東路-民生東路">三民路    民權東路-民生東路</option>
<option value="三民路    民生東路-民權東路">三民路    民生東路-民權東路</option>
<option value="三重路    重陽路-南港路">三重路    重陽路-南港路</option>
<option value="大度路    立德路-大業路">大度路    立德路-大業路</option>
<option value="大度路    模構溪-立德路">大度路    模構溪-立德路</option>
<option value="大度路    大業路-貴子坑溪">大度路    大業路-貴子坑溪</option>
<option value="大度路    貴子坑溪-模構溪">大度路    貴子坑溪-模構溪</option>
<option value="大業路    中央北路-承德路">大業路    中央北路-承德路</option>
<option value="中山北路  德行東路-士東路">中山北路  德行東路-士東路</option>
<option value="中山北路  士東路-天母東路">中山北路  士東路-天母東路</option>
<option value="中山南路  仁愛路-愛國西路">中山南路  仁愛路-愛國西路</option>
<option value="中山南路  愛國東路-信義路">中山南路  愛國東路-信義路</option>
<option value="中山南路  忠孝西路-仁愛路">中山南路  忠孝西路-仁愛路</option>
<option value="中山南路  仁愛路-忠孝東路">中山南路  仁愛路-忠孝東路</option>
<option value="中山北路  長安西路-忠孝西路">中山北路  長安西路-忠孝西路</option>
<option value="中山北路  忠孝東路-長安東路">中山北路  忠孝東路-長安東路</option>
<option value="中山北路  南京西路-長安西路">中山北路  南京西路-長安西路</option>
<option value="中山北路  長安西路-南京東路">中山北路  長安西路-南京東路</option>
<option value="中山北路　南京往南">中山北路　南京往南</option>
<option value="民生東　中山北往北">民生東　中山北往北</option>
<option value="中山北路  民權東路-錦州街">中山北路  民權東路-錦州街</option>
<option value="中山北路  民族東路-民權東路">中山北路  民族東路-民權東路</option>
<option value="中山北路  民權東路-民族東路">中山北路  民權東路-民族東路</option>
<option value="通河街　中山北往南">通河街　中山北往南</option>
<option value="中山北路　劍潭往北">中山北路　劍潭往北</option>
<option value="中山北路  小北街-基河路">中山北路  小北街-基河路</option>
<option value="中山北路  基河路-小北街">中山北路  基河路-小北街</option>
<option value="中山北路  小北街-中正路">中山北路  小北街-中正路</option>
<option value="中山北路  德行東路-忠誠路">中山北路  德行東路-忠誠路</option>
<option value="中山北路  忠誠路-德行東路">中山北路  忠誠路-德行東路</option>
<option value="中山北路  天母東路-士東路">中山北路  天母東路-士東路</option>
<option value="中山北路  士東路-德行東路">中山北路  士東路-德行東路</option>
<option value="重陽大橋 重陽橋 -延平北路六段">重陽大橋 重陽橋 -延平北路六段</option>
<option value="中正路    文林路-承德路">中正路    文林路-承德路</option>
<option value="中正路    承德路-文林路">中正路    承德路-文林路</option>
<option value="中正路    雨農路-文林路">中正路    雨農路-文林路</option>
<option value="中華路    和平西路-水源路">中華路    和平西路-水源路</option>
<option value="中華路    和平西路-愛國西路">中華路    和平西路-愛國西路</option>
<option value="仁愛路光復往西">仁愛路光復往西</option>
<option value="仁愛路   逸仙路-光復南路">仁愛路   逸仙路-光復南路</option>
<option value="仁愛路   光復南路-敦化南路">仁愛路   光復南路-敦化南路</option>
<option value="仁愛路安和路往西">仁愛路安和路往西</option>
<option value="仁愛路    建國南路-新生南路">仁愛路    建國南路-新生南路</option>
<option value="仁愛路    復興南路-建國南路">仁愛路    復興南路-建國南路</option>
<option value="仁愛路    敦化南路-復興北路">仁愛路    敦化南路-復興北路</option>
<option value="金山南路  信義路-仁愛路">金山南路  信義路-仁愛路</option>
<option value="仁愛路    新生南路-金山南路">仁愛路    新生南路-金山南路</option>
<option value="仁愛路    杭州南路-中山南路">仁愛路    杭州南路-中山南路</option>
<option value="文林路    中正路-基河路">文林路    中正路-基河路</option>
<option value="文林路    德行西路-中正路">文林路    德行西路-中正路</option>
<option value="文林路    中正路-德行西路">文林路    中正路-德行西路</option>
<option value="文林北路  承德路-德行西路">文林北路  承德路-德行西路</option>
<option value="文林北路  德行西路-承德路">文林北路  德行西路-承德路</option>
<option value="承德路    基河路-文林北路">承德路    基河路-文林北路</option>
<option value="木柵路    興隆路-和興路">木柵路    興隆路-和興路</option>
<option value="木新路    興隆路-木柵路">木新路    興隆路-木柵路</option>
<option value="木柵路    秀明路-萬芳路">木柵路    秀明路-萬芳路</option>
<option value="木柵路    萬芳路-北二高">木柵路    萬芳路-北二高</option>
<option value="木柵路    北二高-新光路">木柵路    北二高-新光路</option>
<option value="木新路    木柵路-興隆路">木新路    木柵路-興隆路</option>
<option value="北安路    明水路-中山北路">北安路    明水路-中山北路</option>
<option value="北安路    中山北路-明水路">北安路    中山北路-明水路</option>
<option value="北安路    大直街-通北街">北安路    大直街-通北街</option>
<option value="市民大道  復興北路-敦化北路">市民大道  復興北路-敦化北路</option>
<option value="市民大道  敦化北路-建國北路">市民大道  敦化北路-建國北路</option>
<option value="市民大道  敦化北路-復興北路">市民大道  敦化北路-復興北路</option>
<option value="市民大道  敦化北路-光復北路">市民大道  敦化北路-光復北路</option>
<option value="市民大道  建國北路-復興北路">市民大道  建國北路-復興北路</option>
<option value="市民大道  建國北路-金山北路">市民大道  建國北路-金山北路</option>
<option value="市民大道  金山北路-建國北路">市民大道  金山北路-建國北路</option>
<option value="市民大道  中山北路-金山北路">市民大道  中山北路-金山北路</option>
<option value="市民大道  光復南路-基隆路">市民大道  光復南路-基隆路</option>
<option value="市民大道  金山北路-中山北路">市民大道  金山北路-中山北路</option>
<option value="市民大道  重慶北路-中山北路">市民大道  重慶北路-中山北路</option>
<option value="市民大道  中山北路-重慶北路">市民大道  中山北路-重慶北路</option>
<option value="市民大道  重慶北路-環河北路">市民大道  重慶北路-環河北路</option>
<option value="市民大道  環河北路-重慶北路">市民大道  環河北路-重慶北路</option>
<option value="民生西路  重慶北路-環河北路">民生西路  重慶北路-環河北路</option>
<option value="民生西路  環河北路-重慶北路">民生西路  環河北路-重慶北路</option>
<option value="民生西路  承德路-重慶北路">民生西路  承德路-重慶北路</option>
<option value="民生西路  承德路-雙連站">民生西路  承德路-雙連站</option>
<option value="民生西路  中山北路-雙連站">民生西路  中山北路-雙連站</option>
<option value="民生西路  重慶北路-承德路">民生西路  重慶北路-承德路</option>
<option value="民生西路  雙連站-承德路">民生西路  雙連站-承德路</option>
<option value="民生東路  復興北路-敦化北路">民生東路  復興北路-敦化北路</option>
<option value="民生東路  光復北路-敦化北路">民生東路  光復北路-敦化北路</option>
<option value="民生東路  建國北路-龍江路">民生東路  建國北路-龍江路</option>
<option value="民生東路  復興北路-龍江路">民生東路  復興北路-龍江路</option>
<option value="民生東路  龍江路-復興北路">民生東路  龍江路-復興北路</option>
<option value="民生東路  敦化北路-復興北路">民生東路  敦化北路-復興北路</option>
<option value="民生西　中山北往東">民生西　中山北往東</option>
<option value="民生西路  雙連站-中山北路">民生西路  雙連站-中山北路</option>
<option value="民生東路  新生北路-林森北路">民生東路  新生北路-林森北路</option>
<option value="民生東路  中山北路-林森北路">民生東路  中山北路-林森北路</option>
<option value="民生東路  林森北路-新生北路">民生東路  林森北路-新生北路</option>
<option value="民生東路  新生北路-松江路">民生東路  新生北路-松江路</option>
<option value="民生東路  建國北路-松江路">民生東路  建國北路-松江路</option>
<option value="民生東路  敦化北路-光復北路">民生東路  敦化北路-光復北路</option>
<option value="民生東路  松江路-新生北路">民生東路  松江路-新生北路</option>
<option value="民生東路  光復北路-三民路">民生東路  光復北路-三民路</option>
<option value="民生東路  新東街-三民路">民生東路  新東街-三民路</option>
<option value="民生東路  三民路-新東街">民生東路  三民路-新東街</option>
<option value="民生東路  撫遠街-新東街">民生東路  撫遠街-新東街</option>
<option value="民生東路  新東街-撫遠街">民生東路  新東街-撫遠街</option>
<option value="民族東路  松江路-復興北路">民族東路  松江路-復興北路</option>
<option value="民族東路  中山北路-新生北路">民族東路  中山北路-新生北路</option>
<option value="民族東路  松江路-新生北路">民族東路  松江路-新生北路</option>
<option value="民族東路  新生北路-松江路">民族東路  新生北路-松江路</option>
<option value="民族東路  復興北路-松江路">民族東路  復興北路-松江路</option>
<option value="民族西路  中山北路-承德路">民族西路  中山北路-承德路</option>
<option value="民族西路  承德路-中山北路">民族西路  承德路-中山北路</option>
<option value="民族東路  新生北路-中山北路">民族東路  新生北路-中山北路</option>
<option value="民族西路  承德路-環河北路">民族西路  承德路-環河北路</option>
<option value="民族西路  環河北路-承德路">民族西路  環河北路-承德路</option>
<option value="民權東路  復興北路-敦化北路">民權東路  復興北路-敦化北路</option>
<option value="民權東路 光復北路-敦化北路">民權東路 光復北路-敦化北路</option>
<option value="民權東路  敦化北路-光復北路">民權東路  敦化北路-光復北路</option>
<option value="民權東路  撫遠街-光復北路">民權東路  撫遠街-光復北路</option>
<option value="民權東路  建國北路-復興北路">民權東路  建國北路-復興北路</option>
<option value="民權東路  光復北路-敦化北路">民權東路  光復北路-敦化北路</option>
<option value="民權東路  松江路-建國北路">民權東路  松江路-建國北路</option>
<option value="民權東路  松江路-建國北路">民權東路  松江路-建國北路</option>
<option value="民權東路  光復北路-撫遠街">民權東路  光復北路-撫遠街</option>
<option value="民權東路  中山北路-新生北路">民權東路  中山北路-新生北路</option>
<option value="民權東路  松江路-新生北路">民權東路  松江路-新生北路</option>
<option value="民權東路  新生北路-松江路">民權東路  新生北路-松江路</option>
<option value="民權東路  建國北路-松江路">民權東路  建國北路-松江路</option>
<option value="民權西路        　大龍街往東">民權西路        　大龍街往東</option>
<option value="民權東路  瑞光路-撫遠街">民權東路  瑞光路-撫遠街</option>
<option value="民權東往西　成功路-瑞光路">民權東往西　成功路-瑞光路</option>
<option value="民權東往東  瑞光路-成功路">民權東往東  瑞光路-成功路</option>
<option value="民權東路  民權隧道-成功路">民權東路  民權隧道-成功路</option>
<option value="民權東路  成功路-民權隧道">民權東路  成功路-民權隧道</option>
<option value="永吉路    基隆路-松山路">永吉路    基隆路-松山路</option>
<option value="永吉路    松山路-基隆路">永吉路    松山路-基隆路</option>
<option value="仰德大道三段    陽明山國小往北">仰德大道三段    陽明山國小往北</option>
<option value="仰德大道四段　格致中學往北">仰德大道四段　格致中學往北</option>
<option value="仰德大道二段　2巷嶺頭山莊往東">仰德大道二段　2巷嶺頭山莊往東</option>
<option value="光復南路 基隆路-信義路">光復南路 基隆路-信義路</option>
<option value="舊宗路一段南京六行善往北">舊宗路一段南京六行善往北</option>
<option value="光復南路 仁愛路-信義路">光復南路 仁愛路-信義路</option>
<option value="仁愛路　光復南往北">仁愛路　光復南往北</option>
<option value="光復南路 仁愛路-忠孝東路">光復南路 仁愛路-忠孝東路</option>
<option value="光復南路   市民大道-忠孝東路">光復南路   市民大道-忠孝東路</option>
<option value="光復南路  忠孝東路-市民大道">光復南路  忠孝東路-市民大道</option>
<option value="光復南路  八德路-市民大道">光復南路  八德路-市民大道</option>
<option value="光復南路  市民大道-八德路">光復南路  市民大道-八德路</option>
<option value="光復北路  南京東路-八德路">光復北路  南京東路-八德路</option>
<option value="光復北路  八德路-南京東路">光復北路  八德路-南京東路</option>
<option value="光復北路  健康路-南京東路">光復北路  健康路-南京東路</option>
<option value="光復北路  南京東路-健康路">光復北路  南京東路-健康路</option>
<option value="光復北路  民生東路-健康路">光復北路  民生東路-健康路</option>
<option value="光復北路  健康路-民生東路">光復北路  健康路-民生東路</option>
<option value="光復北路  民權東路-民生東路">光復北路  民權東路-民生東路</option>
<option value="光復北路  民生東路-民權東路">光復北路  民生東路-民權東路</option>
<option value="吉林路    南京東路-長安東路">吉林路    南京東路-長安東路</option>
<option value="吉林路    長安東路-南京東路">吉林路    長安東路-南京東路</option>
<option value="吉林路  民生東路-南京東路">吉林路  民生東路-南京東路</option>
<option value="吉林路    南京東路-民生東路">吉林路    南京東路-民生東路</option>
<option value="吉林路    民族東路-民生東路">吉林路    民族東路-民生東路</option>
<option value="吉林路    民生東路-民族東路">吉林路    民生東路-民族東路</option>
<option value="向陽路    忠孝西路-南港路">向陽路    忠孝西路-南港路</option>
<option value="向陽路    重陽路-新明路">向陽路    重陽路-新明路</option>
<option value="安和路    樂利路-和平東路">安和路    樂利路-和平東路</option>
<option value="安和路    信義路-樂利街">安和路    信義路-樂利街</option>
<option value="安和路    樂利街-信義路">安和路    樂利街-信義路</option>
<option value="安和路    仁愛路-信義路">安和路    仁愛路-信義路</option>
<option value="安和路    信義路-仁愛路">安和路    信義路-仁愛路</option>
<option value="安和路    仁愛路-敦化南路">安和路    仁愛路-敦化南路</option>
<option value="成功路    民權東路-南京東路">成功路    民權東路-南京東路</option>
<option value="成功路    南京東路-民權東路">成功路    南京東路-民權東路</option>
<option value="成功路    民權東路-陽光街">成功路    民權東路-陽光街</option>
<option value="成都路    中華路-康定路">成都路    中華路-康定路</option>
<option value="成都　　康定路往東">成都　　康定路往東</option>
<option value="至善路    中社路-產業道路">至善路    中社路-產業道路</option>
<option value="至善路    福林路-故宮路">至善路    福林路-故宮路</option>
<option value="至善路    至善路-故宮路">至善路    至善路-故宮路</option>
<option value="福林路    雨農路-至善路">福林路    雨農路-至善路</option>
<option value="至善路    故宮路-至善路">至善路    故宮路-至善路</option>
<option value="至善路    至善路-中社路">至善路    至善路-中社路</option>
<option value="光復橋往北">光復橋往北</option>
<option value="西園路    和平西路-西藏路">西園路    和平西路-西藏路</option>
<option value="西園路    西藏路-和平西路">西園路    西藏路-和平西路</option>
<option value="西寧南路  峨嵋街-內江街">西寧南路  峨嵋街-內江街</option>
<option value="西寧北路  忠孝西路-峨嵋街">西寧北路  忠孝西路-峨嵋街</option>
<option value="西藏路    艋舺大道-西園路">西藏路    艋舺大道-西園路</option>
<option value="西藏路    萬大路-西園路">西藏路    萬大路-西園路</option>
<option value="西藏路    西園路-萬大路">西藏路    西園路-萬大路</option>
<option value="西藏路    中華路-萬大路">西藏路    中華路-萬大路</option>
<option value="西藏路    萬大路-中華路">西藏路    萬大路-中華路</option>
<option value="西藏路    汀洲路-中華路">西藏路    汀洲路-中華路</option>
<option value="西藏路    中華路-汀州路">西藏路    中華路-汀州路</option>
<option value="辛亥路    木新路-光輝路">辛亥路    木新路-光輝路</option>
<option value="辛亥路    光輝路-木新路">辛亥路    光輝路-木新路</option>
<option value="辛亥路    光輝路-懷恩隧道">辛亥路    光輝路-懷恩隧道</option>
<option value="辛亥路    懷恩隧道-光輝路">辛亥路    懷恩隧道-光輝路</option>
<option value="辛亥路    懷恩隧道-興隆路">辛亥路    懷恩隧道-興隆路</option>
<option value="辛亥路    興隆路-萬美街">辛亥路    興隆路-萬美街</option>
<option value="辛亥路    萬美街-興隆路">辛亥路    萬美街-興隆路</option>
<option value="辛亥路    辛亥隧道-萬美街">辛亥路    辛亥隧道-萬美街</option>
<option value="辛亥路    萬美街-辛亥隧道">辛亥路    萬美街-辛亥隧道</option>
<option value="辛亥路    基隆路-辛亥隧道">辛亥路    基隆路-辛亥隧道</option>
<option value="辛亥路    基隆路-復興南路">辛亥路    基隆路-復興南路</option>
<option value="辛亥路    辛亥隧道-基隆路">辛亥路    辛亥隧道-基隆路</option>
<option value="辛亥路    復興南路-建國南路">辛亥路    復興南路-建國南路</option>
<option value="辛亥路    復興南路-基隆路">辛亥路    復興南路-基隆路</option>
<option value="辛亥路    汀州路-建國南路">辛亥路    汀州路-建國南路</option>
<option value="辛亥路    建國南路-汀州路">辛亥路    建國南路-汀州路</option>
<option value="辛亥路    復興南路-建國南路">辛亥路    復興南路-建國南路</option>
<option value="和平東路  臥龍街-基隆路">和平東路  臥龍街-基隆路</option>
<option value="和平東路  基隆路-臥龍街">和平東路  基隆路-臥龍街</option>
<option value="和平東路  復興南路-基隆路">和平東路  復興南路-基隆路</option>
<option value="和平東路  基隆路-復興南路">和平東路  基隆路-復興南路</option>
<option value="和平東路  復興南路-新生南路">和平東路  復興南路-新生南路</option>
<option value="和平西路  師大路-新生南路">和平西路  師大路-新生南路</option>
<option value="和平東路  羅斯福路-師大路">和平東路  羅斯福路-師大路</option>
<option value="和平西路  新生南路-師大路">和平西路  新生南路-師大路</option>
<option value="和平西路  重慶南路-羅斯福路">和平西路  重慶南路-羅斯福路</option>
<option value="和平東路  師大路-羅斯福路">和平東路  師大路-羅斯福路</option>
<option value="和平西路  羅斯福路-重慶南路">和平西路  羅斯福路-重慶南路</option>
<option value="和平西路  南海路-重慶南路">和平西路  南海路-重慶南路</option>
<option value="和平西路  重慶南路-南海路">和平西路  重慶南路-南海路</option>
<option value="莒光路    中華路-和平西路">莒光路    中華路-和平西路</option>
<option value="和平西路  南海路-中華路">和平西路  南海路-中華路</option>
<option value="和平西路  中華路-水源路">和平西路  中華路-水源路</option>
<option value="和平西路  環河南路-中華路">和平西路  環河南路-中華路</option>
<option value="華江橋往東">華江橋往東</option>
<option value="忠孝東路  松信路-松山路">忠孝東路  松信路-松山路</option>
<option value="忠孝東路  松山路-松信路">忠孝東路  松山路-松信路</option>
<option value="忠孝東路 松仁路-松信路">忠孝東路 松仁路-松信路</option>
<option value="忠孝東　基隆路往東">忠孝東　基隆路往東</option>
<option value="忠孝東路往西 松仁路-基隆路">忠孝東路往西 松仁路-基隆路</option>
<option value="忠孝東路往東 基隆路-松仁路">忠孝東路往東 基隆路-松仁路</option>
<option value="忠孝東路  基隆路-逸仙路">忠孝東路  基隆路-逸仙路</option>
<option value="忠孝四段170往西">忠孝四段170往西</option>
<option value="忠孝東路　延吉往東">忠孝東路　延吉往東</option>
<option value="忠孝東路  復興北路-建國南路">忠孝東路  復興北路-建國南路</option>
<option value="忠孝東路  建國南路-復興北路">忠孝東路  建國南路-復興北路</option>
<option value="忠孝東路  復興南路-大安路">忠孝東路  復興南路-大安路</option>
<option value="忠孝東路  敦化南路-大安路">忠孝東路  敦化南路-大安路</option>
<option value="忠孝東路  新生北路-建國南路">忠孝東路  新生北路-建國南路</option>
<option value="忠孝東路  建國南路-中山北路">忠孝東路  建國南路-中山北路</option>
<option value="忠孝東路  杭州北路-中山北路">忠孝東路  杭州北路-中山北路</option>
<option value="忠孝東路  林森北路-杭州北路">忠孝東路  林森北路-杭州北路</option>
<option value="忠孝東路  八德路-林森北路">忠孝東路  八德路-林森北路</option>
<option value="忠孝東路  館前路-林森北路">忠孝東路  館前路-林森北路</option>
<option value="忠孝東路  林森北路-館前路">忠孝東路  林森北路-館前路</option>
<option value="忠孝東路  東新街-中坡南路">忠孝東路  東新街-中坡南路</option>
<option value="忠孝西路  中華路-館前路">忠孝西路  中華路-館前路</option>
<option value="忠孝東路  中坡南路-東新街">忠孝東路  中坡南路-東新街</option>
<option value="忠孝西路  環河北路-塔城街">忠孝西路  環河北路-塔城街</option>
<option value="忠孝西路  中華路-環河北路">忠孝西路  中華路-環河北路</option>
<option value="忠孝東路  東新街-向陽路">忠孝東路  東新街-向陽路</option>
<option value="忠孝東路  向陽路-東新街">忠孝東路  向陽路-東新街</option>
<option value="忠孝東路  向陽路-研究院路">忠孝東路  向陽路-研究院路</option>
<option value="忠孝東路  研究院路-向陽路">忠孝東路  研究院路-向陽路</option>
<option value="忠誠路    天母東路-德行東路">忠誠路    天母東路-德行東路</option>
<option value="忠誠路    德行東路-天母東路">忠誠路    德行東路-天母東路</option>
<option value="忠誠路    忠義街-中山北路">忠誠路    忠義街-中山北路</option>
<option value="忠誠路  中山北路-忠義街">忠誠路  中山北路-忠義街</option>
<option value="忠誠路  忠義街-德行東路">忠誠路  忠義街-德行東路</option>
<option value="忠誠路    中山北路-忠義街">忠誠路    中山北路-忠義街</option>
<option value="承德路    文林北路-吉利街">承德路    文林北路-吉利街</option>
<option value="承德路    文林北路-基河路">承德路    文林北路-基河路</option>
<option value="承德路    南京西路-市民大道">承德路    南京西路-市民大道</option>
<option value="承德路    市民大道-南京西路">承德路    市民大道-南京西路</option>
<option value="承德路    民生西路-南京西路">承德路    民生西路-南京西路</option>
<option value="承德路    南京西路-民生西路">承德路    南京西路-民生西路</option>
<option value="承德路民生西路往南">承德路民生西路往南</option>
<option value="承德路    民生西路-民權西路">承德路    民生西路-民權西路</option>
<option value="承德路    民族西路-民權西路">承德路    民族西路-民權西路</option>
<option value="承德路    民權西路-民族西路">承德路    民權西路-民族西路</option>
<option value="承德路    劍潭路-民族西路">承德路    劍潭路-民族西路</option>
<option value="承德路    民族東路-劍潭路">承德路    民族東路-劍潭路</option>
<option value="承德路    中正路-劍潭路">承德路    中正路-劍潭路</option>
<option value="承德路    大業路-吉利街">承德路    大業路-吉利街</option>
<option value="承德路    劍潭路-中正路">承德路    劍潭路-中正路</option>
<option value="承德路    基河路-中正路">承德路    基河路-中正路</option>
<option value="昆明街    成都路-忠孝西路">昆明街    成都路-忠孝西路</option>
<option value="明水路    樂群一路-大直橋">明水路    樂群一路-大直橋</option>
<option value="明水路    大直橋-北安路">明水路    大直橋-北安路</option>
<option value="明水路    北安路-樂群一路">明水路    北安路-樂群一路</option>
<option value="杭州南路  羅斯福路-愛國東路">杭州南路  羅斯福路-愛國東路</option>
<option value="杭州南路  愛國東路-信義路">杭州南路  愛國東路-信義路</option>
<option value="杭州南路  信義路-仁愛路">杭州南路  信義路-仁愛路</option>
<option value="杭州南路  仁愛路-忠孝東路">杭州南路  仁愛路-忠孝東路</option>
<option value="信義路　林森南往南">信義路　林森南往南</option>
<option value="林森南路  忠孝東路-仁愛路">林森南路  忠孝東路-仁愛路</option>
<option value="林森南路  仁愛路-忠孝東路">林森南路  仁愛路-忠孝東路</option>
<option value="林森北路  長安東路-忠孝東路">林森北路  長安東路-忠孝東路</option>
<option value="林森北路  忠孝東路-長安東路">林森北路  忠孝東路-長安東路</option>
<option value="林森北路  長春路-長安東路">林森北路  長春路-長安東路</option>
<option value="林森北路  長安東路-長春路">林森北路  長安東路-長春路</option>
<option value="林森北路  長春路-民生東路">林森北路  長春路-民生東路</option>
<option value="林森北路  民生東路-民權東路">林森北路  民生東路-民權東路</option>
<option value="林森北路  民權東路-民生東路">林森北路  民權東路-民生東路</option>
<option value="林森北路  民權東路-民族東路">林森北路  民權東路-民族東路</option>
<option value="林森北路  民族東路-民權東路">林森北路  民族東路-民權東路</option>
<option value="松江路    民生東路-南京東路">松江路    民生東路-南京東路</option>
<option value="松江路    南京東路-民生東路">松江路    南京東路-民生東路</option>
<option value="松江路  民權東路-民生東路">松江路  民權東路-民生東路</option>
<option value="松江路    民生東路-民權東路">松江路    民生東路-民權東路</option>
<option value="松江路    民生東路-民權東路">松江路    民生東路-民權東路</option>
<option value="松江路    民權東路-民族東路">松江路    民權東路-民族東路</option>
<option value="金山南路  愛國東路-信義路">金山南路  愛國東路-信義路</option>
<option value="金山南路  仁愛路-信義路">金山南路  仁愛路-信義路</option>
<option value="金山南路  愛國東路-和平東路">金山南路  愛國東路-和平東路</option>
<option value="金山南路  和平東路-愛國東路">金山南路  和平東路-愛國東路</option>
<option value="金山南路  信義路-愛國東路">金山南路  信義路-愛國東路</option>
<option value="金山南路  忠孝東路-仁愛路">金山南路  忠孝東路-仁愛路</option>
<option value="金山南路  仁愛路-忠孝東路">金山南路  仁愛路-忠孝東路</option>
<option value="金湖路    民權東路-康寧路">金湖路    民權東路-康寧路</option>
<option value="長安東路  林森北路-新生北路">長安東路  林森北路-新生北路</option>
<option value="長安東路  中山北路-林森北路">長安東路  中山北路-林森北路</option>
<option value="長安西路  承德路-中山北路">長安西路  承德路-中山北路</option>
<option value="長安東路  林森北路-中山北路">長安東路  林森北路-中山北路</option>
<option value="長安西路  中山北路-承德路">長安西路  中山北路-承德路</option>
<option value="長安西路  重慶北路-承德路">長安西路  重慶北路-承德路</option>
<option value="長安西路  承德路-重慶北路">長安西路  承德路-重慶北路</option>
<option value="長安西路  環河北路-重慶北路">長安西路  環河北路-重慶北路</option>
<option value="長安西路  重慶北路-環河北路">長安西路  重慶北路-環河北路</option>
<option value="長春路    復興北路-建國北路">長春路    復興北路-建國北路</option>
<option value="長春路    新生北路-松江路">長春路    新生北路-松江路</option>
<option value="長春路    建國北路-復興北路">長春路    建國北路-復興北路</option>
<option value="長春路    松江路-新生北路">長春路    松江路-新生北路</option>
<option value="長春路    建國北路-松江路">長春路    建國北路-松江路</option>
<option value="長春路    新生北路-中山北路">長春路    新生北路-中山北路</option>
<option value="長春路    中山北路-新生北路">長春路    中山北路-新生北路</option>
<option value="松仁路往南   信義路-松平路">松仁路往南   信義路-松平路</option>
<option value="信義路   松仁路-松德路">信義路   松仁路-松德路</option>
<option value="松仁路住北   信義路-松壽路">松仁路住北   信義路-松壽路</option>
<option value="松仁路往南 松高路-松壽路">松仁路往南 松高路-松壽路</option>
<option value="松仁路往北 松高路-忠孝東路">松仁路往北 松高路-忠孝東路</option>
<option value="松壽路   松智路-市府路">松壽路   松智路-市府路</option>
<option value="松壽路往東 市府路-松智路">松壽路往東 市府路-松智路</option>
<option value="松壽路   松智路-松仁路">松壽路   松智路-松仁路</option>
<option value="松高路往西   松仁路-市府路">松高路往西   松仁路-市府路</option>
<option value="松智路往南 松高路-松壽路">松智路往南 松高路-松壽路</option>
<option value="松智路往北   松高路-松壽路">松智路往北   松高路-松壽路</option>
<option value="康湖路  康樂隧道住西">康湖路  康樂隧道住西</option>
<option value="康湖路  成功隧道往西">康湖路  成功隧道往西</option>
<option value="復北地下道往北">復北地下道往北</option>
<option value="復北地下道往南">復北地下道往南</option>
<option value="信義路往西 松仁路-松智路">信義路往西 松仁路-松智路</option>
<option value="信義路   松智路-松仁路">信義路   松智路-松仁路</option>
<option value="信義路   光復南路-基隆路">信義路   光復南路-基隆路</option>
<option value="信義路往西 松智路-基隆路">信義路往西 松智路-基隆路</option>
<option value="信義路   基隆路-松智路">信義路   基隆路-松智路</option>
<option value="信義路　紹興南往東">信義路　紹興南往東</option>
<option value="信義路　林森南往東">信義路　林森南往東</option>
<option value="南京東　三民路往東">南京東　三民路往東</option>
<option value="南京西路  重慶北路-承德路">南京西路  重慶北路-承德路</option>
<option value="南京西路  西寧北路-重慶北路">南京西路  西寧北路-重慶北路</option>
<option value="南京西路  重慶北路-西寧北路">南京西路  重慶北路-西寧北路</option>
<option value="健康路    光復北路-三民路">健康路    光復北路-三民路</option>
<option value="南港路    東新街-向陽路">南港路    東新街-向陽路</option>
<option value="南港路惠民街往西">南港路惠民街往西</option>
<option value="建國南路  和平東路-信義路">建國南路  和平東路-信義路</option>
<option value="建國北路  忠孝東路-長安東路">建國北路  忠孝東路-長安東路</option>
<option value="建國南路  信義路-和平東路">建國南路  信義路-和平東路</option>
<option value="建國南路  信義路-仁愛路">建國南路  信義路-仁愛路</option>
<option value="建國南路  仁愛路-信義路">建國南路  仁愛路-信義路</option>
<option value="建國南路  仁愛路-忠孝東路">建國南路  仁愛路-忠孝東路</option>
<option value="建國南路  忠孝東路-仁愛路">建國南路  忠孝東路-仁愛路</option>
<option value="建國北路  長安東路-忠孝東路">建國北路  長安東路-忠孝東路</option>
<option value="建國北路  長安東路-南京東路">建國北路  長安東路-南京東路</option>
<option value="建國北路  南京東路-長安東路">建國北路  南京東路-長安東路</option>
<option value="建國北路  民生東路-南京東路">建國北路  民生東路-南京東路</option>
<option value="建國北路  民權東路-民生東路">建國北路  民權東路-民生東路</option>
<option value="建國北路  民生東路-民權東路">建國北路  民生東路-民權東路</option>
<option value="建國北路  民權東路-民生東路">建國北路  民權東路-民生東路</option>
<option value="建國北路  民權東路-民族東路">建國北路  民權東路-民族東路</option>
<option value="思源街    永福橋-汀州路">思源街    永福橋-汀州路</option>
<option value="指南路三段      永興橋往東">指南路三段      永興橋往東</option>
<option value="指南路    木新路-三段">指南路    木新路-三段</option>
<option value="研究院路  四段-三段">研究院路  四段-三段</option>
<option value="研究院路  舊莊路-研究院路">研究院路  舊莊路-研究院路</option>
<option value="研究院路  研究院路-舊莊路">研究院路  研究院路-舊莊路</option>
<option value="胡適國小　研究往北">胡適國小　研究往北</option>
<option value="研究院路  忠孝東路-舊莊路">研究院路  忠孝東路-舊莊路</option>
<option value="研究院路  舊莊路-忠孝東路">研究院路  舊莊路-忠孝東路</option>
<option value="重陽路    向陽路-興華路">重陽路    向陽路-興華路</option>
<option value="重陽路    三重路-興華路">重陽路    三重路-興華路</option>
<option value="重陽路    興華路-向陽路">重陽路    興華路-向陽路</option>
<option value="中正橋往北">中正橋往北</option>
<option value="中正橋往南">中正橋往南</option>
<option value="重慶南路  寧波西路-和平西路">重慶南路  寧波西路-和平西路</option>
<option value="重慶南路  和平西路-寧波西路">重慶南路  和平西路-寧波西路</option>
<option value="重慶南路  南海路-寧波西路">重慶南路  南海路-寧波西路</option>
<option value="重慶南路  寧波西街-南海路">重慶南路  寧波西街-南海路</option>
<option value="重慶南路  愛國西路-南海路">重慶南路  愛國西路-南海路</option>
<option value="重慶南路  南海路-愛國西路">重慶南路  南海路-愛國西路</option>
<option value="重慶南路  凱達格蘭-愛國西路">重慶南路  凱達格蘭-愛國西路</option>
<option value="重慶南路  愛國西路-凱達格蘭">重慶南路  愛國西路-凱達格蘭</option>
<option value="重慶南路  忠孝西路-貴陽街">重慶南路  忠孝西路-貴陽街</option>
<option value="重慶南路  凱達格蘭-忠孝西路">重慶南路  凱達格蘭-忠孝西路</option>
<option value="重慶北路  南京西路-忠孝西路">重慶北路  南京西路-忠孝西路</option>
<option value="重慶北路  忠孝西路-南京西路">重慶北路  忠孝西路-南京西路</option>
<option value="重慶北路  民權西路-南京西路">重慶北路  民權西路-南京西路</option>
<option value="重慶北路  南京西路-民權西路">重慶北路  南京西路-民權西路</option>
<option value="重慶北路  民族西路-民權西路">重慶北路  民族西路-民權西路</option>
<option value="重慶北路  民權西路-民族西路">重慶北路  民權西路-民族西路</option>
<option value="重慶北路　民族往南">重慶北路　民族往南</option>
<option value="重慶北路  酒泉街-後港街">重慶北路  酒泉街-後港街</option>
<option value="重慶北路  後港街-中正路">重慶北路  後港街-中正路</option>
<option value="新生高   濟南-八德路">新生高   濟南-八德路</option>
<option value="新生高    八德路-長安東路">新生高    八德路-長安東路</option>
<option value="新生高    長安東路-民生東路">新生高    長安東路-民生東路</option>
<option value="新生高    民生東路-民權東路">新生高    民生東路-民權東路</option>
<option value="新生高    民權東路-民族東路">新生高    民權東路-民族東路</option>
<option value="新生高    民族東路-中山北路">新生高    民族東路-中山北路</option>
<option value="新生高    民族東路-常春路">新生高    民族東路-常春路</option>
<option value="新生高    常春路-長安東路">新生高    常春路-長安東路</option>
<option value="新生高    長安東路-八德路">新生高    長安東路-八德路</option>
<option value="新生高    八德路-濟南路">新生高    八德路-濟南路</option>
<option value="桂林路    康定路-中華路">桂林路    康定路-中華路</option>
<option value="桂林路    中華路-康定路">桂林路    中華路-康定路</option>
<option value="桂林路    環河南路-康定路">桂林路    環河南路-康定路</option>
<option value="健康路    三民路-光復北路">健康路    三民路-光復北路</option>
<option value="健康路    塔悠路-三民路">健康路    塔悠路-三民路</option>
<option value="健康路    三民路-塔悠路">健康路    三民路-塔悠路</option>
<option value="基湖路    堤頂大道-樂群一路">基湖路    堤頂大道-樂群一路</option>
<option value="基湖路    樂群一路-堤頂大道">基湖路    樂群一路-堤頂大道</option>
<option value="基湖路    內湖路-堤頂大道">基湖路    內湖路-堤頂大道</option>
<option value="福和橋往東">福和橋往東</option>
<option value="基隆路    辛亥路-台科大">基隆路    辛亥路-台科大</option>
<option value="基隆路    台科大-辛亥路">基隆路    台科大-辛亥路</option>
<option value="基隆路    和平東路-辛亥路">基隆路    和平東路-辛亥路</option>
<option value="基隆路    辛亥路-樂業街">基隆路    辛亥路-樂業街</option>
<option value="基隆路   光復南路-和平東路">基隆路   光復南路-和平東路</option>
<option value="基隆路往北 和平-光復">基隆路往北 和平-光復</option>
<option value="基隆路往南   信義路-光復南路">基隆路往南   信義路-光復南路</option>
<option value="基隆路   信義路-松壽路">基隆路   信義路-松壽路</option>
<option value="基隆路地下道 松高路-忠孝東路">基隆路地下道 松高路-忠孝東路</option>
<option value="基隆路   忠孝東路-松高路">基隆路   忠孝東路-松高路</option>
<option value="基隆路    松隆路-忠孝東路">基隆路    松隆路-忠孝東路</option>
<option value="基隆路地下道 松隆路-忠孝東路">基隆路地下道 松隆路-忠孝東路</option>
<option value="基隆路地下道 忠孝東路-仁愛路">基隆路地下道 忠孝東路-仁愛路</option>
<option value="基隆路地下道 仁愛路-莊敬路">基隆路地下道 仁愛路-莊敬路</option>
<option value="基隆路地下道 忠孝東路-松隆路">基隆路地下道 忠孝東路-松隆路</option>
<option value="基隆路地下道 莊敬路-仁愛路">基隆路地下道 莊敬路-仁愛路</option>
<option value="基隆路    永吉路-南京東路">基隆路    永吉路-南京東路</option>
<option value="康定路    艋舺大道-桂林路">康定路    艋舺大道-桂林路</option>
<option value="莒光路    萬大路-西園路">莒光路    萬大路-西園路</option>
<option value="莒光路    西園路-萬大路">莒光路    西園路-萬大路</option>
<option value="莒光路    中華路-萬大路">莒光路    中華路-萬大路</option>
<option value="莒光路    萬大路-中華路">莒光路    萬大路-中華路</option>
<option value="莒光路    和平西路-中華路">莒光路    和平西路-中華路</option>
<option value="堤頂大道  舊宗路-民權東路">堤頂大道  舊宗路-民權東路</option>
<option value="堤頂大道  港墘路-舊宗路">堤頂大道  港墘路-舊宗路</option>
<option value="堤頂大道  舊宗路-港墘路">堤頂大道  舊宗路-港墘路</option>
<option value="堤頂大道  民權東路-高速公路">堤頂大道  民權東路-高速公路</option>
<option value="港墘路    瑞光路-堤頂大道">港墘路    瑞光路-堤頂大道</option>
<option value="堤頂大道  港墘路-樂群一路">堤頂大道  港墘路-樂群一路</option>
<option value="堤頂大道  樂群二路-基湖路">堤頂大道  樂群二路-基湖路</option>
<option value="堤頂大道  樂群一路-基湖路">堤頂大道  樂群一路-基湖路</option>
<option value="堤頂大道  基湖路-樂群二路">堤頂大道  基湖路-樂群二路</option>
<option value="堤頂大道  樂群二路-內湖路">堤頂大道  樂群二路-內湖路</option>
<option value="復興南路  和平東路-辛亥路">復興南路  和平東路-辛亥路</option>
<option value="復興南路  辛亥路-和平東路">復興南路  辛亥路-和平東路</option>
<option value="復興南路  信義路-和平東路">復興南路  信義路-和平東路</option>
<option value="復興南路  和平東路-信義路">復興南路  和平東路-信義路</option>
<option value="復興南路  仁愛路-信義路">復興南路  仁愛路-信義路</option>
<option value="復興南路  八德路-仁愛路">復興南路  八德路-仁愛路</option>
<option value="復興南路  仁愛路-八德路">復興南路  仁愛路-八德路</option>
<option value="復興北路  民生東路-八德路">復興北路  民生東路-八德路</option>
<option value="復興北路  長安東路-民生東路">復興北路  長安東路-民生東路</option>
<option value="復興北路  民族東路-民生東路">復興北路  民族東路-民生東路</option>
<option value="敦化南路  和平東路-基隆路">敦化南路  和平東路-基隆路</option>
<option value="敦化南路  基隆路-和平東路">敦化南路  基隆路-和平東路</option>
<option value="敦化南路  信義路-和平東路">敦化南路  信義路-和平東路</option>
<option value="敦化南路  和平東路-信義路">敦化南路  和平東路-信義路</option>
<option value="敦化南路  仁愛路-信義路">敦化南路  仁愛路-信義路</option>
<option value="敦化南路  信義路-仁愛路">敦化南路  信義路-仁愛路</option>
<option value="敦化南路  忠孝東路-仁愛路">敦化南路  忠孝東路-仁愛路</option>
<option value="敦化南路  仁愛路-忠孝東路">敦化南路  仁愛路-忠孝東路</option>
<option value="敦化南路  市民大道-忠孝東路">敦化南路  市民大道-忠孝東路</option>
<option value="敦化南路  忠孝東路-市民大道">敦化南路  忠孝東路-市民大道</option>
<option value="敦化南路  市民大道-南京東路">敦化南路  市民大道-南京東路</option>
<option value="敦化北路  南京東路-民生東路">敦化北路  南京東路-民生東路</option>
<option value="敦化北路　南京往南">敦化北路　南京往南</option>
<option value="敦化北路　民生往南">敦化北路　民生往南</option>
<option value="敦化北路  民生東路-民權東路">敦化北路  民生東路-民權東路</option>
<option value="堤頂大道  樂群一路-港墘路">堤頂大道  樂群一路-港墘路</option>
<option value="港墘路    堤頂大道-瑞光路">港墘路    堤頂大道-瑞光路</option>
<option value="港墘路    瑞光路-內湖路">港墘路    瑞光路-內湖路</option>
<option value="塔悠路    民生東路-民權東路">塔悠路    民生東路-民權東路</option>
<option value="愛國東路  杭州南路-中山南路">愛國東路  杭州南路-中山南路</option>
<option value="新生南路 辛亥路-羅斯福路">新生南路 辛亥路-羅斯福路</option>
<option value="新生南路  羅斯福路-辛亥路">新生南路  羅斯福路-辛亥路</option>
<option value="新生南路  和平東路-辛亥路">新生南路  和平東路-辛亥路</option>
<option value="新生南路  和平東路-信義路">新生南路  和平東路-信義路</option>
<option value="新生南路  信義路-和平東路">新生南路  信義路-和平東路</option>
<option value="新生南路  和平東路-信義路">新生南路  和平東路-信義路</option>
<option value="新生南路  仁愛路-信義路">新生南路  仁愛路-信義路</option>
<option value="新生南路  信義路-仁愛路">新生南路  信義路-仁愛路</option>
<option value="濟南路　新生南往北">濟南路　新生南往北</option>
<option value="濟南路　新生南往南">濟南路　新生南往南</option>
<option value="新光路    秀明路-指南路">新光路    秀明路-指南路</option>
<option value="新光路    動物園-秀明路">新光路    動物園-秀明路</option>
<option value="新光路    秀明路-動物園">新光路    秀明路-動物園</option>
<option value="新光路    動物園-木柵路">新光路    動物園-木柵路</option>
<option value="新光路    木柵路-動物園">新光路    木柵路-動物園</option>
<option value="瑞光路    民權東路-陽光街">瑞光路    民權東路-陽光街</option>
<option value="瑞光路    港墘路-陽光街">瑞光路    港墘路-陽光街</option>
<option value="瑞光路    陽光街-港墘路">瑞光路    陽光街-港墘路</option>
<option value="瑞光路    基湖路-港墘路">瑞光路    基湖路-港墘路</option>
<option value="瑞光路    港墘路-基湖路">瑞光路    港墘路-基湖路</option>
<option value="萬大路    莒光路-西藏路">萬大路    莒光路-西藏路</option>
<option value="萬大路    西藏路-莒光路">萬大路    西藏路-莒光路</option>
<option value="中正路    文林路-雨農路">中正路    文林路-雨農路</option>
<option value="福林路    至善路-雨農路">福林路    至善路-雨農路</option>
<option value="福林路  雨農路-至善路">福林路  雨農路-至善路</option>
<option value="艋舺大道  西園路-西藏路">艋舺大道  西園路-西藏路</option>
<option value="艋舺大道  西藏路-西園路">艋舺大道  西藏路-西園路</option>
<option value="艋舺大道  西園路-和平西路">艋舺大道  西園路-和平西路</option>
<option value="德行東路  忠誠路-東山路">德行東路  忠誠路-東山路</option>
<option value="樂群一路  敬業三路-堤頂大道">樂群一路  敬業三路-堤頂大道</option>
<option value="樂群一路  堤頂大道-敬業三路">樂群一路  堤頂大道-敬業三路</option>
<option value="龍江路    南京東路-八德路">龍江路    南京東路-八德路</option>
<option value="龍江路    八德路-南京東路">龍江路    八德路-南京東路</option>
<option value="龍江路    民生東路-南京東路">龍江路    民生東路-南京東路</option>
<option value="龍江路    南京東路-民生東路">龍江路    南京東路-民生東路</option>
<option value="龍江路    民族東路-民權東路">龍江路    民族東路-民權東路</option>
<option value="龍江路    民權東路-民族東路">龍江路    民權東路-民族東路</option>
<option value="濟南路    新生南路-杭州南路">濟南路    新生南路-杭州南路</option>
<option value="濟南路    中山北路-杭州南路">濟南路    中山北路-杭州南路</option>
<option value="濟南路    杭州南路-中山南路">濟南路    杭州南路-中山南路</option>
<option value="濟南路    杭州南路-新生南路">濟南路    杭州南路-新生南路</option>
<option value="環河南路  雙園街-和平西路">環河南路  雙園街-和平西路</option>
<option value="環河北路  民權西路-民族西路">環河北路  民權西路-民族西路</option>
<option value="環河北路  民族西路-敦煌路">環河北路  民族西路-敦煌路</option>
<option value="環河北路  敦煌路-葫蘆街">環河北路  敦煌路-葫蘆街</option>
<option value="環河北路  葫蘆街-敦煌路">環河北路  葫蘆街-敦煌路</option>
<option value="舊宗路    陽光街-民權東路">舊宗路    陽光街-民權東路</option>
<option value="舊宗路    民權東路-陽光街">舊宗路    民權東路-陽光街</option>
<option value="舊宗路    陽光街-港墘路">舊宗路    陽光街-港墘路</option>
<option value="羅斯福六段　　338巷往北">羅斯福六段　　338巷往北</option>
<option value="羅斯福路  景隆街-景中路">羅斯福路  景隆街-景中路</option>
<option value="羅斯福路  景中街-景隆街">羅斯福路  景中街-景隆街</option>
<option value="羅斯福路  興隆路-景隆街">羅斯福路  興隆路-景隆街</option>
<option value="羅斯福路  景隆街-興隆路">羅斯福路  景隆街-興隆路</option>
<option value="基隆路    羅斯福路-台科大">基隆路    羅斯福路-台科大</option>
<option value="羅斯福路  新生南路-舟山路">羅斯福路  新生南路-舟山路</option>
<option value="羅斯福路  舟山路-新生南路">羅斯福路  舟山路-新生南路</option>
<option value="羅斯福路  新生南路-辛亥路">羅斯福路  新生南路-辛亥路</option>
<option value="羅斯福路  愛國西路-和平東路">羅斯福路  愛國西路-和平東路</option>
<option value="羅斯福路  和平東路-愛國東路">羅斯福路  和平東路-愛國東路</option>
<option value="木柵路    萬芳路-秀明路">木柵路    萬芳路-秀明路</option>
<option value="木柵路    北二高-萬芳路">木柵路    北二高-萬芳路</option>
<option value="至善路    產業道路-中社路">至善路    產業道路-中社路</option>
<option value="大度路    模構溪-貴子坑溪">大度路    模構溪-貴子坑溪</option>
<option value="大度路    立德路-模構溪">大度路    立德路-模構溪</option>
<option value="辛亥路    興隆路-懷恩隧道">辛亥路    興隆路-懷恩隧道</option>
<option value="思源街    汀州路-永福橋">思源街    汀州路-永福橋</option>
<option value="華中橋往南">華中橋往南</option>
<option value="中華路    泉州街-和平西路">中華路    泉州街-和平西路</option>
<option value="康定路    桂林路-艋舺大道">康定路    桂林路-艋舺大道</option>
<option value="艋舺大道  和平西路-西園路">艋舺大道  和平西路-西園路</option>
<option value="金山南路  信義路-仁愛路">金山南路  信義路-仁愛路</option>
<option value="忠孝東　逸仙路往北">忠孝東　逸仙路往北</option>
<option value="敦化南路  南京東路-市民大道">敦化南路  南京東路-市民大道</option>
<option value="八德路    復興北路-建國北路">八德路    復興北路-建國北路</option>
<option value="長春路    松江路-建國北路">長春路    松江路-建國北路</option>
<option value="向陽路    南京東路-重陽路">向陽路    南京東路-重陽路</option>
<option value="重陽路    興華路-向陽路">重陽路    興華路-向陽路</option>
<option value="建國北路  南京東路-民生東路">建國北路  南京東路-民生東路</option>
<option value="民生東路  松江路-建國北路">民生東路  松江路-建國北路</option>
<option value="民生東路  龍江路-建國北路">民生東路  龍江路-建國北路</option>
<option value="三重路    南港路-重陽路">三重路    南港路-重陽路</option>
<option value="塔悠路    民權東路-民生東路">塔悠路    民權東路-民生東路</option>
<option value="塔悠路    南京東路-民生東路">塔悠路    南京東路-民生東路</option>
<option value="環河北路  民族西路-民權西路">環河北路  民族西路-民權西路</option>
<option value="北安路　　大直橋往南">北安路　　大直橋往南</option>
<option value="中山北   圓山隧道往南">中山北   圓山隧道往南</option>
<option value="康寧路至康湖路">康寧路至康湖路</option>
<option value="堤頂大道  內湖路-樂群二路">堤頂大道  內湖路-樂群二路</option>
<option value="內湖路二段66巷至文德路往西">內湖路二段66巷至文德路往西</option>
<option value="文德路101巷至220巷往東">文德路101巷至220巷往東</option>
<option value="文德路　成功路往西">文德路　成功路往西</option>
<option value="濱江街　　大直橋往北">濱江街　　大直橋往北</option>
<option value="內湖路一段629巷至港墘路往東">內湖路一段629巷至港墘路往東</option>
<option value="後港街 承德路往南">後港街 承德路往南</option>
<option value="內湖路一段洲子街至591巷往西">內湖路一段洲子街至591巷往西</option>
<option value="康湖路至康寧路">康湖路至康寧路</option>
<option value="內湖一段二八五往東">內湖一段二八五往東</option>
<option value="重陽大橋 延平北路六段-重陽橋">重陽大橋 延平北路六段-重陽橋</option>
<option value="內湖路一段文湖路至91巷往東">內湖路一段文湖路至91巷往東</option>
<option value="成功路五段324巷至420巷往西">成功路五段324巷至420巷往西</option>
<option value="成功四段三二四往東">成功四段三二四往東</option>
<option value="內湖路一段91巷至文湖路往西">內湖路一段91巷至文湖路往西</option>
<option value="中山北路  中正路-小北街">中山北路  中正路-小北街</option>
<option value="承德路    中正路-洲美路">承德路    中正路-洲美路</option>
<option value="仰德大道二段　2巷嶺頭山莊往西">仰德大道二段　2巷嶺頭山莊往西</option>
<option value="至善路    中社路-至善路">至善路    中社路-至善路</option>
</select>
<select id="traffic2" class="ui search dropdown">
<option value="市高往東  環河中華">市高往東  環河中華</option>
<option value="市高往東  中華承德">市高往東  中華承德</option>
<option value="市高往東  承德中山">市高往東  承德中山</option>
<option value="市高往東  中山林森">市高往東  中山林森</option>
<option value="市高往東  新生建國">市高往東  新生建國</option>
<option value="市高往東  建國復興">市高往東  建國復興</option>
<option value="市高往東  復興敦化">市高往東  復興敦化</option>
<option value="市高往東  敦化上方">市高往東  敦化上方</option>
<option value="市高往東  敦化延吉">市高往東  敦化延吉</option>
<option value="市高往東  延吉永吉">市高往東  延吉永吉</option>
<option value="正氣橋  麥一市民">正氣橋  麥一市民</option>
<option value="市高往西  永吉光復">市高往西  永吉光復</option>
<option value="市高往西  光復延吉">市高往西  光復延吉</option>
<option value="市高往西  延吉復興">市高往西  延吉復興</option>
<option value="市高往西  復興建國">市高往西  復興建國</option>
<option value="市高往西  建國新生">市高往西  建國新生</option>
<option value="市高往西  新生林森">市高往西  新生林森</option>
<option value="市高往西  林森中山">市高往西  林森中山</option>
<option value="市高往西  中山承德">市高往西  中山承德</option>
<option value="市高往西  承德重慶">市高往西  承德重慶</option>
<option value="市高往西  重慶中華">市高往西  重慶中華</option>
<option value="市高往西  中華環河">市高往西  中華環河</option>
<option value="建國快往北 辛亥高架接建高">建國快往北 辛亥高架接建高</option>
<option value="建國快往北 辛亥信義">建國快往北 辛亥信義</option>
<option value="建國快往北 和平信義">建國快往北 和平信義</option>
<option value="建國快往北 信義路上匝道">建國快往北 信義路上匝道</option>
<option value="建國快往北 信義仁愛">建國快往北 信義仁愛</option>
<option value="建國快往北 仁愛忠孝">建國快往北 仁愛忠孝</option>
<option value="建國快往北 忠孝長安">建國快往北 忠孝長安</option>
<option value="建國快往北 南京東路">建國快往北 南京東路</option>
<option value="建國快往北 南京民權">建國快往北 南京民權</option>
<option value="建國快往北 民權民族">建國快往北 民權民族</option>
<option value="建國快往北 民族濱江">建國快往北 民族濱江</option>
<option value="建國快往北 民權東路下匝道">建國快往北 民權東路下匝道</option>
<option value="建國快往北 南京東路下匝道">建國快往北 南京東路下匝道</option>
<option value="建國快往南 濱江民權">建國快往南 濱江民權</option>
<option value="建國快往南 民權東路">建國快往南 民權東路</option>
<option value="建國快往南 民權上匝道">建國快往南 民權上匝道</option>
<option value="建國快往南 民權長春">建國快往南 民權長春</option>
<option value="建國快往南 長春路上匝道">建國快往南 長春路上匝道</option>
<option value="建國快往南 長春長安">建國快往南 長春長安</option>
<option value="建國快往南 長安東路上匝道">建國快往南 長安東路上匝道</option>
<option value="建國快往南 長安忠孝">建國快往南 長安忠孝</option>
<option value="建國快往南 忠孝仁愛">建國快往南 忠孝仁愛</option>
<option value="建國快往南 仁愛信義">建國快往南 仁愛信義</option>
<option value="建國快往南 信義和平">建國快往南 信義和平</option>
<option value="建國快往南 和平辛亥">建國快往南 和平辛亥</option>
<option value="建國快往南 民權下匝道">建國快往南 民權下匝道</option>
<option value="建國快往南 忠孝東路下匝道">建國快往南 忠孝東路下匝道</option>
<option value="建國快往南 仁愛路下匝道">建國快往南 仁愛路下匝道</option>
<option value="建國快往南 仁愛路下匝道">建國快往南 仁愛路下匝道</option>
<option value="建國快往南 和平東路下匝道">建國快往南 和平東路下匝道</option>
<option value="建國快往南 辛亥路下匝道">建國快往南 辛亥路下匝道</option>
<option value="基隆快往東 水快上匝道">基隆快往東 水快上匝道</option>
<option value="基隆快往東 水源辛亥">基隆快往東 水源辛亥</option>
<option value="基隆快往東 辛亥敦化">基隆快往東 辛亥敦化</option>
<option value="基隆快往東 敦化樂業">基隆快往東 敦化樂業</option>
<option value="基隆快往東 辛亥下匝道">基隆快往東 辛亥下匝道</option>
<option value="基隆快往東 敦化下匝道">基隆快往東 敦化下匝道</option>
<option value="基隆快往西 樂業敦化">基隆快往西 樂業敦化</option>
<option value="基隆快往西 敦化上匝道">基隆快往西 敦化上匝道</option>
<option value="基隆快往西 敦化羅斯福">基隆快往西 敦化羅斯福</option>
<option value="基隆快往西 羅斯福路上匝道">基隆快往西 羅斯福路上匝道</option>
<option value="基隆快往西 羅斯福水源">基隆快往西 羅斯福水源</option>
<option value="辛亥高架 汀州路地下道">辛亥高架 汀州路地下道</option>
<option value="辛亥高架 泰順新生">辛亥高架 泰順新生</option>
<option value="辛亥高架 辛亥路下匝道">辛亥高架 辛亥路下匝道</option>
<option value="辛亥高架 建高接辛高">辛亥高架 建高接辛高</option>
<option value="辛亥高架 辛亥上匝道">辛亥高架 辛亥上匝道</option>
<option value="水源快往北 中正路-景美">水源快往北 中正路-景美</option>
<option value="水源快往北 景美上匝道">水源快往北 景美上匝道</option>
<option value="水源快往北 景美-基隆快">水源快往北 景美-基隆快</option>
<option value="水源快往北 福和橋上匝道">水源快往北 福和橋上匝道</option>
<option value="水源快往北 福和橋-師大路">水源快往北 福和橋-師大路</option>
<option value="水源快往北 師大路-泉州街">水源快往北 師大路-泉州街</option>
<option value="水源快往北 泉州街-青年路">水源快往北 泉州街-青年路</option>
<option value="水源快往北 青年路-萬大路">水源快往北 青年路-萬大路</option>
<option value="水源快往北 華中橋">水源快往北 華中橋</option>
<option value="水源快往北 萬大路上匝道">水源快往北 萬大路上匝道</option>
<option value="水源快往北 萬大路下匝道">水源快往北 萬大路下匝道</option>
<option value="水源快往南 景美下匝道">水源快往南 景美下匝道</option>
<option value="水源快往南 西園路-華中橋">水源快往南 西園路-華中橋</option>
<option value="水源快往南 華中橋">水源快往南 華中橋</option>
<option value="水源快往南 萬大路上匝道">水源快往南 萬大路上匝道</option>
<option value="水源快往南 華中橋-富民街">水源快往南 華中橋-富民街</option>
<option value="水源快往南 富民街上匝道">水源快往南 富民街上匝道</option>
<option value="水源快往南 富民街-泉州街">水源快往南 富民街-泉州街</option>
<option value="水源快往南 泉州街上匝道">水源快往南 泉州街上匝道</option>
<option value="水源快往南 泉州街-中正橋">水源快往南 泉州街-中正橋</option>
<option value="水源快往南 中正橋上匝道">水源快往南 中正橋上匝道</option>
<option value="水源快往南 中正橋-師大路">水源快往南 中正橋-師大路</option>
<option value="水源快往南 師大路">水源快往南 師大路</option>
<option value="水源快往南 師大路-永福橋">水源快往南 師大路-永福橋</option>
<option value="水源快往南 永福橋-基隆路">水源快往南 永福橋-基隆路</option>
<option value="水源快往南 福和橋上匝道">水源快往南 福和橋上匝道</option>
<option value="水源快往南 基高上匝道">水源快往南 基高上匝道</option>
<option value="水源快往南 基隆路-景美">水源快往南 基隆路-景美</option>
<option value="水源快往南 泉州街下匝道">水源快往南 泉州街下匝道</option>
<option value="水源快往南 永福橋下匝道">水源快往南 永福橋下匝道</option>
<option value="水源快往南 華中橋下匝道">水源快往南 華中橋下匝道</option>
<option value="環河快往北 市民下匝道">環河快往北 市民下匝道</option>
<option value="環河快往北 西園華江">環河快往北 西園華江</option>
<option value="環河快往北 華江橋上匝道">環河快往北 華江橋上匝道</option>
<option value="環河快往北 華江貴陽">環河快往北 華江貴陽</option>
<option value="環河快往北 貴陽市民">環河快往北 貴陽市民</option>
<option value="環河快往北 市民民生">環河快往北 市民民生</option>
<option value="環河快往北 貴陽街下匝道">環河快往北 貴陽街下匝道</option>
<option value="環河快往南 民生西-忠孝橋">環河快往南 民生西-忠孝橋</option>
<option value="環河快往南 忠孝橋">環河快往南 忠孝橋</option>
<option value="環河快往南 忠孝橋上匝道">環河快往南 忠孝橋上匝道</option>
<option value="環河快往南 市民上匝道">環河快往南 市民上匝道</option>
<option value="環河快往南 忠孝橋-中興橋">環河快往南 忠孝橋-中興橋</option>
<option value="環河快往南 中興橋">環河快往南 中興橋</option>
<option value="環河快往南 中興橋-桂林路">環河快往南 中興橋-桂林路</option>
<option value="環河快往南 桂林路-華江橋">環河快往南 桂林路-華江橋</option>
<option value="環河快往南 華江橋">環河快往南 華江橋</option>
<option value="環河快往南 華江橋上匝道">環河快往南 華江橋上匝道</option>
<option value="環河快往南 華江橋-西藏路">環河快往南 華江橋-西藏路</option>
<option value="環河快往南 西藏路下匝道">環河快往南 西藏路下匝道</option>
<option value="環河快往南 西藏路-西園路">環河快往南 西藏路-西園路</option>
<option value="環東出城　松隆匝道">環東出城　松隆匝道</option>
<option value="環東出城　正氣橋">環東出城　正氣橋</option>
<option value="環東出城　麥帥一橋">環東出城　麥帥一橋</option>
<option value="環東出城　堤頂舊宗">環東出城　堤頂舊宗</option>
<option value="環東出城　堤頂舊宗">環東出城　堤頂舊宗</option>
<option value="環東出城  堤頂舊宗">環東出城  堤頂舊宗</option>
<option value="環東出城　舊宗匝道">環東出城　舊宗匝道</option>
<option value="環東出城  彩虹經貿2">環東出城  彩虹經貿2</option>
<option value="環東出城  彩虹經貿3">環東出城  彩虹經貿3</option>
<option value="環東出城  彩虹經貿4">環東出城  彩虹經貿4</option>
<option value="環東出城  彩虹經貿5">環東出城  彩虹經貿5</option>
<option value="環東出城  彩虹經貿6">環東出城  彩虹經貿6</option>
<option value="環東出城  彩虹經貿7">環東出城  彩虹經貿7</option>
<option value="環東出城　南湖橋段1">環東出城　南湖橋段1</option>
<option value="環東出城　園區匝道">環東出城　園區匝道</option>
<option value="環東出城　往國道三號">環東出城　往國道三號</option>
<option value="環東進城　前方">環東進城　前方</option>
<option value="環東進城　經貿園區">環東進城　經貿園區</option>
<option value="環東出城  經貿彩虹2">環東出城  經貿彩虹2</option>
<option value="環東出城  經貿彩虹3">環東出城  經貿彩虹3</option>
<option value="環東出城  經貿彩虹4">環東出城  經貿彩虹4</option>
<option value="環東出城  經貿彩虹5">環東出城  經貿彩虹5</option>
<option value="環東出城  經貿彩虹6">環東出城  經貿彩虹6</option>
<option value="環東出城  經貿彩虹7">環東出城  經貿彩虹7</option>
<option value="環東出城  經貿彩虹8">環東出城  經貿彩虹8</option>
<option value="環東進城　舊宗新明">環東進城　舊宗新明</option>
<option value="環東進城  堤頂麥一">環東進城  堤頂麥一</option>
<option value="環東進城　麥帥一橋">環東進城　麥帥一橋</option>
<option value="環東進城　麥帥一橋">環東進城　麥帥一橋</option>
<option value="環東進城　永吉匝道">環東進城　永吉匝道</option>
<option value="正氣橋出城接麥二橋">正氣橋出城接麥二橋</option>
<option value="麥二正氣">麥二正氣</option>
<option value="洲美往北　中正社中">洲美往北　中正社中</option>
<option value="洲美往北  中正社中1">洲美往北  中正社中1</option>
<option value="洲美往北　社中通河">洲美往北　社中通河</option>
<option value="洲美往北　跨河橋段">洲美往北　跨河橋段</option>
<option value="洲美往北　福國路段">洲美往北　福國路段</option>
<option value="洲美往北　焚化廠南">洲美往北　焚化廠南</option>
<option value="洲美往北　焚化廠北">洲美往北　焚化廠北</option>
<option value="洲美往北   往大度">洲美往北   往大度</option>
<option value="洲美往北　大業匝道">洲美往北　大業匝道</option>
<option value="洲美往北　北投匝道">洲美往北　北投匝道</option>
<option value="洲美往南　大度匝道">洲美往南　大度匝道</option>
<option value="洲美往南  焚化廠北">洲美往南  焚化廠北</option>
<option value="洲美往南　焚化廠南">洲美往南　焚化廠南</option>
<option value="洲美往南　福國路段">洲美往南　福國路段</option>
<option value="洲美往南　跨河橋段">洲美往南　跨河橋段</option>
<option value="洲美往南　通河社中">洲美往南　通河社中</option>
<option value="環北往南　社中中正">環北往南　社中中正</option>
<option value="信快往北  木柵入口">信快往北  木柵入口</option>
<option value="信快往北 文山隧道">信快往北 文山隧道</option>
<option value="信快往北  文山象山間">信快往北  文山象山間</option>
<option value="信快往北  象山隧道">信快往北  象山隧道</option>
<option value="信快往北  象山出口">信快往北  象山出口</option>
<option value="E_I-N-EX2">E_I-N-EX2</option>
<option value="E_I-S-EN2">E_I-S-EN2</option>
<option value="信快往北  松仁匝道">信快往北  松仁匝道</option>
<option value="信快往北  象山隧道">信快往北  象山隧道</option>
<option value="信快往北  象山文山間">信快往北  象山文山間</option>
<option value="信快往北  文山隧道">信快往北  文山隧道</option>
<option value="信快往北  萬芳出口">信快往北  萬芳出口</option>
<option value="八德路    松江路-忠孝東路">八德路    松江路-忠孝東路</option>
<option value="八德路    建國北路-新生北路">八德路    建國北路-新生北路</option>
<option value="八德路    新生南路-建國北路">八德路    新生南路-建國北路</option>
<option value="八德路    建國北路-復興北路">八德路    建國北路-復興北路</option>
<option value="八德路    敦化北路-復興北路">八德路    敦化北路-復興北路</option>
<option value="八德路    復興北路-敦化南路">八德路    復興北路-敦化南路</option>
<option value="八德路    光復南路-敦化北路">八德路    光復南路-敦化北路</option>
<option value="八德路    敦化南路-光復南路">八德路    敦化南路-光復南路</option>
<option value="八德路    東興街?-光復北路">八德路    東興街?-光復北路</option>
<option value="八德路    光復南路-東興街">八德路    光復南路-東興街</option>
<option value="八德路    基隆路-東興街">八德路    基隆路-東興街</option>
<option value="八德路    東興街-基隆路">八德路    東興街-基隆路</option>
<option value="八德路    基隆路-東新街">八德路    基隆路-東新街</option>
<option value="八德路    東新街-基隆路">八德路    東新街-基隆路</option>
<option value="南港路    向陽路-東新街">南港路    向陽路-東新街</option>
<option value="三民路    民生東路-南京東路">三民路    民生東路-南京東路</option>
<option value="三民路    南京東路-民生東路">三民路    南京東路-民生東路</option>
<option value="三民路    民權東路-民生東路">三民路    民權東路-民生東路</option>
<option value="三民路    民生東路-民權東路">三民路    民生東路-民權東路</option>
<option value="三重路    重陽路-南港路">三重路    重陽路-南港路</option>
<option value="大度路    立德路-大業路">大度路    立德路-大業路</option>
<option value="大度路    模構溪-立德路">大度路    模構溪-立德路</option>
<option value="大度路    大業路-貴子坑溪">大度路    大業路-貴子坑溪</option>
<option value="大度路    貴子坑溪-模構溪">大度路    貴子坑溪-模構溪</option>
<option value="大業路    中央北路-承德路">大業路    中央北路-承德路</option>
<option value="中山北路  德行東路-士東路">中山北路  德行東路-士東路</option>
<option value="中山北路  士東路-天母東路">中山北路  士東路-天母東路</option>
<option value="中山南路  仁愛路-愛國西路">中山南路  仁愛路-愛國西路</option>
<option value="中山南路  愛國東路-信義路">中山南路  愛國東路-信義路</option>
<option value="中山南路  忠孝西路-仁愛路">中山南路  忠孝西路-仁愛路</option>
<option value="中山南路  仁愛路-忠孝東路">中山南路  仁愛路-忠孝東路</option>
<option value="中山北路  長安西路-忠孝西路">中山北路  長安西路-忠孝西路</option>
<option value="中山北路  忠孝東路-長安東路">中山北路  忠孝東路-長安東路</option>
<option value="中山北路  南京西路-長安西路">中山北路  南京西路-長安西路</option>
<option value="中山北路  長安西路-南京東路">中山北路  長安西路-南京東路</option>
<option value="中山北路　南京往南">中山北路　南京往南</option>
<option value="民生東　中山北往北">民生東　中山北往北</option>
<option value="中山北路  民權東路-錦州街">中山北路  民權東路-錦州街</option>
<option value="中山北路  民族東路-民權東路">中山北路  民族東路-民權東路</option>
<option value="中山北路  民權東路-民族東路">中山北路  民權東路-民族東路</option>
<option value="通河街　中山北往南">通河街　中山北往南</option>
<option value="中山北路　劍潭往北">中山北路　劍潭往北</option>
<option value="中山北路  小北街-基河路">中山北路  小北街-基河路</option>
<option value="中山北路  基河路-小北街">中山北路  基河路-小北街</option>
<option value="中山北路  小北街-中正路">中山北路  小北街-中正路</option>
<option value="中山北路  德行東路-忠誠路">中山北路  德行東路-忠誠路</option>
<option value="中山北路  忠誠路-德行東路">中山北路  忠誠路-德行東路</option>
<option value="中山北路  天母東路-士東路">中山北路  天母東路-士東路</option>
<option value="中山北路  士東路-德行東路">中山北路  士東路-德行東路</option>
<option value="重陽大橋 重陽橋 -延平北路六段">重陽大橋 重陽橋 -延平北路六段</option>
<option value="中正路    文林路-承德路">中正路    文林路-承德路</option>
<option value="中正路    承德路-文林路">中正路    承德路-文林路</option>
<option value="中正路    雨農路-文林路">中正路    雨農路-文林路</option>
<option value="中華路    和平西路-水源路">中華路    和平西路-水源路</option>
<option value="中華路    和平西路-愛國西路">中華路    和平西路-愛國西路</option>
<option value="仁愛路光復往西">仁愛路光復往西</option>
<option value="仁愛路   逸仙路-光復南路">仁愛路   逸仙路-光復南路</option>
<option value="仁愛路   光復南路-敦化南路">仁愛路   光復南路-敦化南路</option>
<option value="仁愛路安和路往西">仁愛路安和路往西</option>
<option value="仁愛路    建國南路-新生南路">仁愛路    建國南路-新生南路</option>
<option value="仁愛路    復興南路-建國南路">仁愛路    復興南路-建國南路</option>
<option value="仁愛路    敦化南路-復興北路">仁愛路    敦化南路-復興北路</option>
<option value="金山南路  信義路-仁愛路">金山南路  信義路-仁愛路</option>
<option value="仁愛路    新生南路-金山南路">仁愛路    新生南路-金山南路</option>
<option value="仁愛路    杭州南路-中山南路">仁愛路    杭州南路-中山南路</option>
<option value="文林路    中正路-基河路">文林路    中正路-基河路</option>
<option value="文林路    德行西路-中正路">文林路    德行西路-中正路</option>
<option value="文林路    中正路-德行西路">文林路    中正路-德行西路</option>
<option value="文林北路  承德路-德行西路">文林北路  承德路-德行西路</option>
<option value="文林北路  德行西路-承德路">文林北路  德行西路-承德路</option>
<option value="承德路    基河路-文林北路">承德路    基河路-文林北路</option>
<option value="木柵路    興隆路-和興路">木柵路    興隆路-和興路</option>
<option value="木新路    興隆路-木柵路">木新路    興隆路-木柵路</option>
<option value="木柵路    秀明路-萬芳路">木柵路    秀明路-萬芳路</option>
<option value="木柵路    萬芳路-北二高">木柵路    萬芳路-北二高</option>
<option value="木柵路    北二高-新光路">木柵路    北二高-新光路</option>
<option value="木新路    木柵路-興隆路">木新路    木柵路-興隆路</option>
<option value="北安路    明水路-中山北路">北安路    明水路-中山北路</option>
<option value="北安路    中山北路-明水路">北安路    中山北路-明水路</option>
<option value="北安路    大直街-通北街">北安路    大直街-通北街</option>
<option value="市民大道  復興北路-敦化北路">市民大道  復興北路-敦化北路</option>
<option value="市民大道  敦化北路-建國北路">市民大道  敦化北路-建國北路</option>
<option value="市民大道  敦化北路-復興北路">市民大道  敦化北路-復興北路</option>
<option value="市民大道  敦化北路-光復北路">市民大道  敦化北路-光復北路</option>
<option value="市民大道  建國北路-復興北路">市民大道  建國北路-復興北路</option>
<option value="市民大道  建國北路-金山北路">市民大道  建國北路-金山北路</option>
<option value="市民大道  金山北路-建國北路">市民大道  金山北路-建國北路</option>
<option value="市民大道  中山北路-金山北路">市民大道  中山北路-金山北路</option>
<option value="市民大道  光復南路-基隆路">市民大道  光復南路-基隆路</option>
<option value="市民大道  金山北路-中山北路">市民大道  金山北路-中山北路</option>
<option value="市民大道  重慶北路-中山北路">市民大道  重慶北路-中山北路</option>
<option value="市民大道  中山北路-重慶北路">市民大道  中山北路-重慶北路</option>
<option value="市民大道  重慶北路-環河北路">市民大道  重慶北路-環河北路</option>
<option value="市民大道  環河北路-重慶北路">市民大道  環河北路-重慶北路</option>
<option value="民生西路  重慶北路-環河北路">民生西路  重慶北路-環河北路</option>
<option value="民生西路  環河北路-重慶北路">民生西路  環河北路-重慶北路</option>
<option value="民生西路  承德路-重慶北路">民生西路  承德路-重慶北路</option>
<option value="民生西路  承德路-雙連站">民生西路  承德路-雙連站</option>
<option value="民生西路  中山北路-雙連站">民生西路  中山北路-雙連站</option>
<option value="民生西路  重慶北路-承德路">民生西路  重慶北路-承德路</option>
<option value="民生西路  雙連站-承德路">民生西路  雙連站-承德路</option>
<option value="民生東路  復興北路-敦化北路">民生東路  復興北路-敦化北路</option>
<option value="民生東路  光復北路-敦化北路">民生東路  光復北路-敦化北路</option>
<option value="民生東路  建國北路-龍江路">民生東路  建國北路-龍江路</option>
<option value="民生東路  復興北路-龍江路">民生東路  復興北路-龍江路</option>
<option value="民生東路  龍江路-復興北路">民生東路  龍江路-復興北路</option>
<option value="民生東路  敦化北路-復興北路">民生東路  敦化北路-復興北路</option>
<option value="民生西　中山北往東">民生西　中山北往東</option>
<option value="民生西路  雙連站-中山北路">民生西路  雙連站-中山北路</option>
<option value="民生東路  新生北路-林森北路">民生東路  新生北路-林森北路</option>
<option value="民生東路  中山北路-林森北路">民生東路  中山北路-林森北路</option>
<option value="民生東路  林森北路-新生北路">民生東路  林森北路-新生北路</option>
<option value="民生東路  新生北路-松江路">民生東路  新生北路-松江路</option>
<option value="民生東路  建國北路-松江路">民生東路  建國北路-松江路</option>
<option value="民生東路  敦化北路-光復北路">民生東路  敦化北路-光復北路</option>
<option value="民生東路  松江路-新生北路">民生東路  松江路-新生北路</option>
<option value="民生東路  光復北路-三民路">民生東路  光復北路-三民路</option>
<option value="民生東路  新東街-三民路">民生東路  新東街-三民路</option>
<option value="民生東路  三民路-新東街">民生東路  三民路-新東街</option>
<option value="民生東路  撫遠街-新東街">民生東路  撫遠街-新東街</option>
<option value="民生東路  新東街-撫遠街">民生東路  新東街-撫遠街</option>
<option value="民族東路  松江路-復興北路">民族東路  松江路-復興北路</option>
<option value="民族東路  中山北路-新生北路">民族東路  中山北路-新生北路</option>
<option value="民族東路  松江路-新生北路">民族東路  松江路-新生北路</option>
<option value="民族東路  新生北路-松江路">民族東路  新生北路-松江路</option>
<option value="民族東路  復興北路-松江路">民族東路  復興北路-松江路</option>
<option value="民族西路  中山北路-承德路">民族西路  中山北路-承德路</option>
<option value="民族西路  承德路-中山北路">民族西路  承德路-中山北路</option>
<option value="民族東路  新生北路-中山北路">民族東路  新生北路-中山北路</option>
<option value="民族西路  承德路-環河北路">民族西路  承德路-環河北路</option>
<option value="民族西路  環河北路-承德路">民族西路  環河北路-承德路</option>
<option value="民權東路  復興北路-敦化北路">民權東路  復興北路-敦化北路</option>
<option value="民權東路 光復北路-敦化北路">民權東路 光復北路-敦化北路</option>
<option value="民權東路  敦化北路-光復北路">民權東路  敦化北路-光復北路</option>
<option value="民權東路  撫遠街-光復北路">民權東路  撫遠街-光復北路</option>
<option value="民權東路  建國北路-復興北路">民權東路  建國北路-復興北路</option>
<option value="民權東路  光復北路-敦化北路">民權東路  光復北路-敦化北路</option>
<option value="民權東路  松江路-建國北路">民權東路  松江路-建國北路</option>
<option value="民權東路  松江路-建國北路">民權東路  松江路-建國北路</option>
<option value="民權東路  光復北路-撫遠街">民權東路  光復北路-撫遠街</option>
<option value="民權東路  中山北路-新生北路">民權東路  中山北路-新生北路</option>
<option value="民權東路  松江路-新生北路">民權東路  松江路-新生北路</option>
<option value="民權東路  新生北路-松江路">民權東路  新生北路-松江路</option>
<option value="民權東路  建國北路-松江路">民權東路  建國北路-松江路</option>
<option value="民權西路        　大龍街往東">民權西路        　大龍街往東</option>
<option value="民權東路  瑞光路-撫遠街">民權東路  瑞光路-撫遠街</option>
<option value="民權東往西　成功路-瑞光路">民權東往西　成功路-瑞光路</option>
<option value="民權東往東  瑞光路-成功路">民權東往東  瑞光路-成功路</option>
<option value="民權東路  民權隧道-成功路">民權東路  民權隧道-成功路</option>
<option value="民權東路  成功路-民權隧道">民權東路  成功路-民權隧道</option>
<option value="永吉路    基隆路-松山路">永吉路    基隆路-松山路</option>
<option value="永吉路    松山路-基隆路">永吉路    松山路-基隆路</option>
<option value="仰德大道三段    陽明山國小往北">仰德大道三段    陽明山國小往北</option>
<option value="仰德大道四段　格致中學往北">仰德大道四段　格致中學往北</option>
<option value="仰德大道二段　2巷嶺頭山莊往東">仰德大道二段　2巷嶺頭山莊往東</option>
<option value="光復南路 基隆路-信義路">光復南路 基隆路-信義路</option>
<option value="舊宗路一段南京六行善往北">舊宗路一段南京六行善往北</option>
<option value="光復南路 仁愛路-信義路">光復南路 仁愛路-信義路</option>
<option value="仁愛路　光復南往北">仁愛路　光復南往北</option>
<option value="光復南路 仁愛路-忠孝東路">光復南路 仁愛路-忠孝東路</option>
<option value="光復南路   市民大道-忠孝東路">光復南路   市民大道-忠孝東路</option>
<option value="光復南路  忠孝東路-市民大道">光復南路  忠孝東路-市民大道</option>
<option value="光復南路  八德路-市民大道">光復南路  八德路-市民大道</option>
<option value="光復南路  市民大道-八德路">光復南路  市民大道-八德路</option>
<option value="光復北路  南京東路-八德路">光復北路  南京東路-八德路</option>
<option value="光復北路  八德路-南京東路">光復北路  八德路-南京東路</option>
<option value="光復北路  健康路-南京東路">光復北路  健康路-南京東路</option>
<option value="光復北路  南京東路-健康路">光復北路  南京東路-健康路</option>
<option value="光復北路  民生東路-健康路">光復北路  民生東路-健康路</option>
<option value="光復北路  健康路-民生東路">光復北路  健康路-民生東路</option>
<option value="光復北路  民權東路-民生東路">光復北路  民權東路-民生東路</option>
<option value="光復北路  民生東路-民權東路">光復北路  民生東路-民權東路</option>
<option value="吉林路    南京東路-長安東路">吉林路    南京東路-長安東路</option>
<option value="吉林路    長安東路-南京東路">吉林路    長安東路-南京東路</option>
<option value="吉林路  民生東路-南京東路">吉林路  民生東路-南京東路</option>
<option value="吉林路    南京東路-民生東路">吉林路    南京東路-民生東路</option>
<option value="吉林路    民族東路-民生東路">吉林路    民族東路-民生東路</option>
<option value="吉林路    民生東路-民族東路">吉林路    民生東路-民族東路</option>
<option value="向陽路    忠孝西路-南港路">向陽路    忠孝西路-南港路</option>
<option value="向陽路    重陽路-新明路">向陽路    重陽路-新明路</option>
<option value="安和路    樂利路-和平東路">安和路    樂利路-和平東路</option>
<option value="安和路    信義路-樂利街">安和路    信義路-樂利街</option>
<option value="安和路    樂利街-信義路">安和路    樂利街-信義路</option>
<option value="安和路    仁愛路-信義路">安和路    仁愛路-信義路</option>
<option value="安和路    信義路-仁愛路">安和路    信義路-仁愛路</option>
<option value="安和路    仁愛路-敦化南路">安和路    仁愛路-敦化南路</option>
<option value="成功路    民權東路-南京東路">成功路    民權東路-南京東路</option>
<option value="成功路    南京東路-民權東路">成功路    南京東路-民權東路</option>
<option value="成功路    民權東路-陽光街">成功路    民權東路-陽光街</option>
<option value="成都路    中華路-康定路">成都路    中華路-康定路</option>
<option value="成都　　康定路往東">成都　　康定路往東</option>
<option value="至善路    中社路-產業道路">至善路    中社路-產業道路</option>
<option value="至善路    福林路-故宮路">至善路    福林路-故宮路</option>
<option value="至善路    至善路-故宮路">至善路    至善路-故宮路</option>
<option value="福林路    雨農路-至善路">福林路    雨農路-至善路</option>
<option value="至善路    故宮路-至善路">至善路    故宮路-至善路</option>
<option value="至善路    至善路-中社路">至善路    至善路-中社路</option>
<option value="光復橋往北">光復橋往北</option>
<option value="西園路    和平西路-西藏路">西園路    和平西路-西藏路</option>
<option value="西園路    西藏路-和平西路">西園路    西藏路-和平西路</option>
<option value="西寧南路  峨嵋街-內江街">西寧南路  峨嵋街-內江街</option>
<option value="西寧北路  忠孝西路-峨嵋街">西寧北路  忠孝西路-峨嵋街</option>
<option value="西藏路    艋舺大道-西園路">西藏路    艋舺大道-西園路</option>
<option value="西藏路    萬大路-西園路">西藏路    萬大路-西園路</option>
<option value="西藏路    西園路-萬大路">西藏路    西園路-萬大路</option>
<option value="西藏路    中華路-萬大路">西藏路    中華路-萬大路</option>
<option value="西藏路    萬大路-中華路">西藏路    萬大路-中華路</option>
<option value="西藏路    汀洲路-中華路">西藏路    汀洲路-中華路</option>
<option value="西藏路    中華路-汀州路">西藏路    中華路-汀州路</option>
<option value="辛亥路    木新路-光輝路">辛亥路    木新路-光輝路</option>
<option value="辛亥路    光輝路-木新路">辛亥路    光輝路-木新路</option>
<option value="辛亥路    光輝路-懷恩隧道">辛亥路    光輝路-懷恩隧道</option>
<option value="辛亥路    懷恩隧道-光輝路">辛亥路    懷恩隧道-光輝路</option>
<option value="辛亥路    懷恩隧道-興隆路">辛亥路    懷恩隧道-興隆路</option>
<option value="辛亥路    興隆路-萬美街">辛亥路    興隆路-萬美街</option>
<option value="辛亥路    萬美街-興隆路">辛亥路    萬美街-興隆路</option>
<option value="辛亥路    辛亥隧道-萬美街">辛亥路    辛亥隧道-萬美街</option>
<option value="辛亥路    萬美街-辛亥隧道">辛亥路    萬美街-辛亥隧道</option>
<option value="辛亥路    基隆路-辛亥隧道">辛亥路    基隆路-辛亥隧道</option>
<option value="辛亥路    基隆路-復興南路">辛亥路    基隆路-復興南路</option>
<option value="辛亥路    辛亥隧道-基隆路">辛亥路    辛亥隧道-基隆路</option>
<option value="辛亥路    復興南路-建國南路">辛亥路    復興南路-建國南路</option>
<option value="辛亥路    復興南路-基隆路">辛亥路    復興南路-基隆路</option>
<option value="辛亥路    汀州路-建國南路">辛亥路    汀州路-建國南路</option>
<option value="辛亥路    建國南路-汀州路">辛亥路    建國南路-汀州路</option>
<option value="辛亥路    復興南路-建國南路">辛亥路    復興南路-建國南路</option>
<option value="和平東路  臥龍街-基隆路">和平東路  臥龍街-基隆路</option>
<option value="和平東路  基隆路-臥龍街">和平東路  基隆路-臥龍街</option>
<option value="和平東路  復興南路-基隆路">和平東路  復興南路-基隆路</option>
<option value="和平東路  基隆路-復興南路">和平東路  基隆路-復興南路</option>
<option value="和平東路  復興南路-新生南路">和平東路  復興南路-新生南路</option>
<option value="和平西路  師大路-新生南路">和平西路  師大路-新生南路</option>
<option value="和平東路  羅斯福路-師大路">和平東路  羅斯福路-師大路</option>
<option value="和平西路  新生南路-師大路">和平西路  新生南路-師大路</option>
<option value="和平西路  重慶南路-羅斯福路">和平西路  重慶南路-羅斯福路</option>
<option value="和平東路  師大路-羅斯福路">和平東路  師大路-羅斯福路</option>
<option value="和平西路  羅斯福路-重慶南路">和平西路  羅斯福路-重慶南路</option>
<option value="和平西路  南海路-重慶南路">和平西路  南海路-重慶南路</option>
<option value="和平西路  重慶南路-南海路">和平西路  重慶南路-南海路</option>
<option value="莒光路    中華路-和平西路">莒光路    中華路-和平西路</option>
<option value="和平西路  南海路-中華路">和平西路  南海路-中華路</option>
<option value="和平西路  中華路-水源路">和平西路  中華路-水源路</option>
<option value="和平西路  環河南路-中華路">和平西路  環河南路-中華路</option>
<option value="華江橋往東">華江橋往東</option>
<option value="忠孝東路  松信路-松山路">忠孝東路  松信路-松山路</option>
<option value="忠孝東路  松山路-松信路">忠孝東路  松山路-松信路</option>
<option value="忠孝東路 松仁路-松信路">忠孝東路 松仁路-松信路</option>
<option value="忠孝東　基隆路往東">忠孝東　基隆路往東</option>
<option value="忠孝東路往西 松仁路-基隆路">忠孝東路往西 松仁路-基隆路</option>
<option value="忠孝東路往東 基隆路-松仁路">忠孝東路往東 基隆路-松仁路</option>
<option value="忠孝東路  基隆路-逸仙路">忠孝東路  基隆路-逸仙路</option>
<option value="忠孝四段170往西">忠孝四段170往西</option>
<option value="忠孝東路　延吉往東">忠孝東路　延吉往東</option>
<option value="忠孝東路  復興北路-建國南路">忠孝東路  復興北路-建國南路</option>
<option value="忠孝東路  建國南路-復興北路">忠孝東路  建國南路-復興北路</option>
<option value="忠孝東路  復興南路-大安路">忠孝東路  復興南路-大安路</option>
<option value="忠孝東路  敦化南路-大安路">忠孝東路  敦化南路-大安路</option>
<option value="忠孝東路  新生北路-建國南路">忠孝東路  新生北路-建國南路</option>
<option value="忠孝東路  建國南路-中山北路">忠孝東路  建國南路-中山北路</option>
<option value="忠孝東路  杭州北路-中山北路">忠孝東路  杭州北路-中山北路</option>
<option value="忠孝東路  林森北路-杭州北路">忠孝東路  林森北路-杭州北路</option>
<option value="忠孝東路  八德路-林森北路">忠孝東路  八德路-林森北路</option>
<option value="忠孝東路  館前路-林森北路">忠孝東路  館前路-林森北路</option>
<option value="忠孝東路  林森北路-館前路">忠孝東路  林森北路-館前路</option>
<option value="忠孝東路  東新街-中坡南路">忠孝東路  東新街-中坡南路</option>
<option value="忠孝西路  中華路-館前路">忠孝西路  中華路-館前路</option>
<option value="忠孝東路  中坡南路-東新街">忠孝東路  中坡南路-東新街</option>
<option value="忠孝西路  環河北路-塔城街">忠孝西路  環河北路-塔城街</option>
<option value="忠孝西路  中華路-環河北路">忠孝西路  中華路-環河北路</option>
<option value="忠孝東路  東新街-向陽路">忠孝東路  東新街-向陽路</option>
<option value="忠孝東路  向陽路-東新街">忠孝東路  向陽路-東新街</option>
<option value="忠孝東路  向陽路-研究院路">忠孝東路  向陽路-研究院路</option>
<option value="忠孝東路  研究院路-向陽路">忠孝東路  研究院路-向陽路</option>
<option value="忠誠路    天母東路-德行東路">忠誠路    天母東路-德行東路</option>
<option value="忠誠路    德行東路-天母東路">忠誠路    德行東路-天母東路</option>
<option value="忠誠路    忠義街-中山北路">忠誠路    忠義街-中山北路</option>
<option value="忠誠路  中山北路-忠義街">忠誠路  中山北路-忠義街</option>
<option value="忠誠路  忠義街-德行東路">忠誠路  忠義街-德行東路</option>
<option value="忠誠路    中山北路-忠義街">忠誠路    中山北路-忠義街</option>
<option value="承德路    文林北路-吉利街">承德路    文林北路-吉利街</option>
<option value="承德路    文林北路-基河路">承德路    文林北路-基河路</option>
<option value="承德路    南京西路-市民大道">承德路    南京西路-市民大道</option>
<option value="承德路    市民大道-南京西路">承德路    市民大道-南京西路</option>
<option value="承德路    民生西路-南京西路">承德路    民生西路-南京西路</option>
<option value="承德路    南京西路-民生西路">承德路    南京西路-民生西路</option>
<option value="承德路民生西路往南">承德路民生西路往南</option>
<option value="承德路    民生西路-民權西路">承德路    民生西路-民權西路</option>
<option value="承德路    民族西路-民權西路">承德路    民族西路-民權西路</option>
<option value="承德路    民權西路-民族西路">承德路    民權西路-民族西路</option>
<option value="承德路    劍潭路-民族西路">承德路    劍潭路-民族西路</option>
<option value="承德路    民族東路-劍潭路">承德路    民族東路-劍潭路</option>
<option value="承德路    中正路-劍潭路">承德路    中正路-劍潭路</option>
<option value="承德路    大業路-吉利街">承德路    大業路-吉利街</option>
<option value="承德路    劍潭路-中正路">承德路    劍潭路-中正路</option>
<option value="承德路    基河路-中正路">承德路    基河路-中正路</option>
<option value="昆明街    成都路-忠孝西路">昆明街    成都路-忠孝西路</option>
<option value="明水路    樂群一路-大直橋">明水路    樂群一路-大直橋</option>
<option value="明水路    大直橋-北安路">明水路    大直橋-北安路</option>
<option value="明水路    北安路-樂群一路">明水路    北安路-樂群一路</option>
<option value="杭州南路  羅斯福路-愛國東路">杭州南路  羅斯福路-愛國東路</option>
<option value="杭州南路  愛國東路-信義路">杭州南路  愛國東路-信義路</option>
<option value="杭州南路  信義路-仁愛路">杭州南路  信義路-仁愛路</option>
<option value="杭州南路  仁愛路-忠孝東路">杭州南路  仁愛路-忠孝東路</option>
<option value="信義路　林森南往南">信義路　林森南往南</option>
<option value="林森南路  忠孝東路-仁愛路">林森南路  忠孝東路-仁愛路</option>
<option value="林森南路  仁愛路-忠孝東路">林森南路  仁愛路-忠孝東路</option>
<option value="林森北路  長安東路-忠孝東路">林森北路  長安東路-忠孝東路</option>
<option value="林森北路  忠孝東路-長安東路">林森北路  忠孝東路-長安東路</option>
<option value="林森北路  長春路-長安東路">林森北路  長春路-長安東路</option>
<option value="林森北路  長安東路-長春路">林森北路  長安東路-長春路</option>
<option value="林森北路  長春路-民生東路">林森北路  長春路-民生東路</option>
<option value="林森北路  民生東路-民權東路">林森北路  民生東路-民權東路</option>
<option value="林森北路  民權東路-民生東路">林森北路  民權東路-民生東路</option>
<option value="林森北路  民權東路-民族東路">林森北路  民權東路-民族東路</option>
<option value="林森北路  民族東路-民權東路">林森北路  民族東路-民權東路</option>
<option value="松江路    民生東路-南京東路">松江路    民生東路-南京東路</option>
<option value="松江路    南京東路-民生東路">松江路    南京東路-民生東路</option>
<option value="松江路  民權東路-民生東路">松江路  民權東路-民生東路</option>
<option value="松江路    民生東路-民權東路">松江路    民生東路-民權東路</option>
<option value="松江路    民生東路-民權東路">松江路    民生東路-民權東路</option>
<option value="松江路    民權東路-民族東路">松江路    民權東路-民族東路</option>
<option value="金山南路  愛國東路-信義路">金山南路  愛國東路-信義路</option>
<option value="金山南路  仁愛路-信義路">金山南路  仁愛路-信義路</option>
<option value="金山南路  愛國東路-和平東路">金山南路  愛國東路-和平東路</option>
<option value="金山南路  和平東路-愛國東路">金山南路  和平東路-愛國東路</option>
<option value="金山南路  信義路-愛國東路">金山南路  信義路-愛國東路</option>
<option value="金山南路  忠孝東路-仁愛路">金山南路  忠孝東路-仁愛路</option>
<option value="金山南路  仁愛路-忠孝東路">金山南路  仁愛路-忠孝東路</option>
<option value="金湖路    民權東路-康寧路">金湖路    民權東路-康寧路</option>
<option value="長安東路  林森北路-新生北路">長安東路  林森北路-新生北路</option>
<option value="長安東路  中山北路-林森北路">長安東路  中山北路-林森北路</option>
<option value="長安西路  承德路-中山北路">長安西路  承德路-中山北路</option>
<option value="長安東路  林森北路-中山北路">長安東路  林森北路-中山北路</option>
<option value="長安西路  中山北路-承德路">長安西路  中山北路-承德路</option>
<option value="長安西路  重慶北路-承德路">長安西路  重慶北路-承德路</option>
<option value="長安西路  承德路-重慶北路">長安西路  承德路-重慶北路</option>
<option value="長安西路  環河北路-重慶北路">長安西路  環河北路-重慶北路</option>
<option value="長安西路  重慶北路-環河北路">長安西路  重慶北路-環河北路</option>
<option value="長春路    復興北路-建國北路">長春路    復興北路-建國北路</option>
<option value="長春路    新生北路-松江路">長春路    新生北路-松江路</option>
<option value="長春路    建國北路-復興北路">長春路    建國北路-復興北路</option>
<option value="長春路    松江路-新生北路">長春路    松江路-新生北路</option>
<option value="長春路    建國北路-松江路">長春路    建國北路-松江路</option>
<option value="長春路    新生北路-中山北路">長春路    新生北路-中山北路</option>
<option value="長春路    中山北路-新生北路">長春路    中山北路-新生北路</option>
<option value="松仁路往南   信義路-松平路">松仁路往南   信義路-松平路</option>
<option value="信義路   松仁路-松德路">信義路   松仁路-松德路</option>
<option value="松仁路住北   信義路-松壽路">松仁路住北   信義路-松壽路</option>
<option value="松仁路往南 松高路-松壽路">松仁路往南 松高路-松壽路</option>
<option value="松仁路往北 松高路-忠孝東路">松仁路往北 松高路-忠孝東路</option>
<option value="松壽路   松智路-市府路">松壽路   松智路-市府路</option>
<option value="松壽路往東 市府路-松智路">松壽路往東 市府路-松智路</option>
<option value="松壽路   松智路-松仁路">松壽路   松智路-松仁路</option>
<option value="松高路往西   松仁路-市府路">松高路往西   松仁路-市府路</option>
<option value="松智路往南 松高路-松壽路">松智路往南 松高路-松壽路</option>
<option value="松智路往北   松高路-松壽路">松智路往北   松高路-松壽路</option>
<option value="康湖路  康樂隧道住西">康湖路  康樂隧道住西</option>
<option value="康湖路  成功隧道往西">康湖路  成功隧道往西</option>
<option value="復北地下道往北">復北地下道往北</option>
<option value="復北地下道往南">復北地下道往南</option>
<option value="信義路往西 松仁路-松智路">信義路往西 松仁路-松智路</option>
<option value="信義路   松智路-松仁路">信義路   松智路-松仁路</option>
<option value="信義路   光復南路-基隆路">信義路   光復南路-基隆路</option>
<option value="信義路往西 松智路-基隆路">信義路往西 松智路-基隆路</option>
<option value="信義路   基隆路-松智路">信義路   基隆路-松智路</option>
<option value="信義路　紹興南往東">信義路　紹興南往東</option>
<option value="信義路　林森南往東">信義路　林森南往東</option>
<option value="南京東　三民路往東">南京東　三民路往東</option>
<option value="南京西路  重慶北路-承德路">南京西路  重慶北路-承德路</option>
<option value="南京西路  西寧北路-重慶北路">南京西路  西寧北路-重慶北路</option>
<option value="南京西路  重慶北路-西寧北路">南京西路  重慶北路-西寧北路</option>
<option value="健康路    光復北路-三民路">健康路    光復北路-三民路</option>
<option value="南港路    東新街-向陽路">南港路    東新街-向陽路</option>
<option value="南港路惠民街往西">南港路惠民街往西</option>
<option value="建國南路  和平東路-信義路">建國南路  和平東路-信義路</option>
<option value="建國北路  忠孝東路-長安東路">建國北路  忠孝東路-長安東路</option>
<option value="建國南路  信義路-和平東路">建國南路  信義路-和平東路</option>
<option value="建國南路  信義路-仁愛路">建國南路  信義路-仁愛路</option>
<option value="建國南路  仁愛路-信義路">建國南路  仁愛路-信義路</option>
<option value="建國南路  仁愛路-忠孝東路">建國南路  仁愛路-忠孝東路</option>
<option value="建國南路  忠孝東路-仁愛路">建國南路  忠孝東路-仁愛路</option>
<option value="建國北路  長安東路-忠孝東路">建國北路  長安東路-忠孝東路</option>
<option value="建國北路  長安東路-南京東路">建國北路  長安東路-南京東路</option>
<option value="建國北路  南京東路-長安東路">建國北路  南京東路-長安東路</option>
<option value="建國北路  民生東路-南京東路">建國北路  民生東路-南京東路</option>
<option value="建國北路  民權東路-民生東路">建國北路  民權東路-民生東路</option>
<option value="建國北路  民生東路-民權東路">建國北路  民生東路-民權東路</option>
<option value="建國北路  民權東路-民生東路">建國北路  民權東路-民生東路</option>
<option value="建國北路  民權東路-民族東路">建國北路  民權東路-民族東路</option>
<option value="思源街    永福橋-汀州路">思源街    永福橋-汀州路</option>
<option value="指南路三段      永興橋往東">指南路三段      永興橋往東</option>
<option value="指南路    木新路-三段">指南路    木新路-三段</option>
<option value="研究院路  四段-三段">研究院路  四段-三段</option>
<option value="研究院路  舊莊路-研究院路">研究院路  舊莊路-研究院路</option>
<option value="研究院路  研究院路-舊莊路">研究院路  研究院路-舊莊路</option>
<option value="胡適國小　研究往北">胡適國小　研究往北</option>
<option value="研究院路  忠孝東路-舊莊路">研究院路  忠孝東路-舊莊路</option>
<option value="研究院路  舊莊路-忠孝東路">研究院路  舊莊路-忠孝東路</option>
<option value="重陽路    向陽路-興華路">重陽路    向陽路-興華路</option>
<option value="重陽路    三重路-興華路">重陽路    三重路-興華路</option>
<option value="重陽路    興華路-向陽路">重陽路    興華路-向陽路</option>
<option value="中正橋往北">中正橋往北</option>
<option value="中正橋往南">中正橋往南</option>
<option value="重慶南路  寧波西路-和平西路">重慶南路  寧波西路-和平西路</option>
<option value="重慶南路  和平西路-寧波西路">重慶南路  和平西路-寧波西路</option>
<option value="重慶南路  南海路-寧波西路">重慶南路  南海路-寧波西路</option>
<option value="重慶南路  寧波西街-南海路">重慶南路  寧波西街-南海路</option>
<option value="重慶南路  愛國西路-南海路">重慶南路  愛國西路-南海路</option>
<option value="重慶南路  南海路-愛國西路">重慶南路  南海路-愛國西路</option>
<option value="重慶南路  凱達格蘭-愛國西路">重慶南路  凱達格蘭-愛國西路</option>
<option value="重慶南路  愛國西路-凱達格蘭">重慶南路  愛國西路-凱達格蘭</option>
<option value="重慶南路  忠孝西路-貴陽街">重慶南路  忠孝西路-貴陽街</option>
<option value="重慶南路  凱達格蘭-忠孝西路">重慶南路  凱達格蘭-忠孝西路</option>
<option value="重慶北路  南京西路-忠孝西路">重慶北路  南京西路-忠孝西路</option>
<option value="重慶北路  忠孝西路-南京西路">重慶北路  忠孝西路-南京西路</option>
<option value="重慶北路  民權西路-南京西路">重慶北路  民權西路-南京西路</option>
<option value="重慶北路  南京西路-民權西路">重慶北路  南京西路-民權西路</option>
<option value="重慶北路  民族西路-民權西路">重慶北路  民族西路-民權西路</option>
<option value="重慶北路  民權西路-民族西路">重慶北路  民權西路-民族西路</option>
<option value="重慶北路　民族往南">重慶北路　民族往南</option>
<option value="重慶北路  酒泉街-後港街">重慶北路  酒泉街-後港街</option>
<option value="重慶北路  後港街-中正路">重慶北路  後港街-中正路</option>
<option value="新生高   濟南-八德路">新生高   濟南-八德路</option>
<option value="新生高    八德路-長安東路">新生高    八德路-長安東路</option>
<option value="新生高    長安東路-民生東路">新生高    長安東路-民生東路</option>
<option value="新生高    民生東路-民權東路">新生高    民生東路-民權東路</option>
<option value="新生高    民權東路-民族東路">新生高    民權東路-民族東路</option>
<option value="新生高    民族東路-中山北路">新生高    民族東路-中山北路</option>
<option value="新生高    民族東路-常春路">新生高    民族東路-常春路</option>
<option value="新生高    常春路-長安東路">新生高    常春路-長安東路</option>
<option value="新生高    長安東路-八德路">新生高    長安東路-八德路</option>
<option value="新生高    八德路-濟南路">新生高    八德路-濟南路</option>
<option value="桂林路    康定路-中華路">桂林路    康定路-中華路</option>
<option value="桂林路    中華路-康定路">桂林路    中華路-康定路</option>
<option value="桂林路    環河南路-康定路">桂林路    環河南路-康定路</option>
<option value="健康路    三民路-光復北路">健康路    三民路-光復北路</option>
<option value="健康路    塔悠路-三民路">健康路    塔悠路-三民路</option>
<option value="健康路    三民路-塔悠路">健康路    三民路-塔悠路</option>
<option value="基湖路    堤頂大道-樂群一路">基湖路    堤頂大道-樂群一路</option>
<option value="基湖路    樂群一路-堤頂大道">基湖路    樂群一路-堤頂大道</option>
<option value="基湖路    內湖路-堤頂大道">基湖路    內湖路-堤頂大道</option>
<option value="福和橋往東">福和橋往東</option>
<option value="基隆路    辛亥路-台科大">基隆路    辛亥路-台科大</option>
<option value="基隆路    台科大-辛亥路">基隆路    台科大-辛亥路</option>
<option value="基隆路    和平東路-辛亥路">基隆路    和平東路-辛亥路</option>
<option value="基隆路    辛亥路-樂業街">基隆路    辛亥路-樂業街</option>
<option value="基隆路   光復南路-和平東路">基隆路   光復南路-和平東路</option>
<option value="基隆路往北 和平-光復">基隆路往北 和平-光復</option>
<option value="基隆路往南   信義路-光復南路">基隆路往南   信義路-光復南路</option>
<option value="基隆路   信義路-松壽路">基隆路   信義路-松壽路</option>
<option value="基隆路地下道 松高路-忠孝東路">基隆路地下道 松高路-忠孝東路</option>
<option value="基隆路   忠孝東路-松高路">基隆路   忠孝東路-松高路</option>
<option value="基隆路    松隆路-忠孝東路">基隆路    松隆路-忠孝東路</option>
<option value="基隆路地下道 松隆路-忠孝東路">基隆路地下道 松隆路-忠孝東路</option>
<option value="基隆路地下道 忠孝東路-仁愛路">基隆路地下道 忠孝東路-仁愛路</option>
<option value="基隆路地下道 仁愛路-莊敬路">基隆路地下道 仁愛路-莊敬路</option>
<option value="基隆路地下道 忠孝東路-松隆路">基隆路地下道 忠孝東路-松隆路</option>
<option value="基隆路地下道 莊敬路-仁愛路">基隆路地下道 莊敬路-仁愛路</option>
<option value="基隆路    永吉路-南京東路">基隆路    永吉路-南京東路</option>
<option value="康定路    艋舺大道-桂林路">康定路    艋舺大道-桂林路</option>
<option value="莒光路    萬大路-西園路">莒光路    萬大路-西園路</option>
<option value="莒光路    西園路-萬大路">莒光路    西園路-萬大路</option>
<option value="莒光路    中華路-萬大路">莒光路    中華路-萬大路</option>
<option value="莒光路    萬大路-中華路">莒光路    萬大路-中華路</option>
<option value="莒光路    和平西路-中華路">莒光路    和平西路-中華路</option>
<option value="堤頂大道  舊宗路-民權東路">堤頂大道  舊宗路-民權東路</option>
<option value="堤頂大道  港墘路-舊宗路">堤頂大道  港墘路-舊宗路</option>
<option value="堤頂大道  舊宗路-港墘路">堤頂大道  舊宗路-港墘路</option>
<option value="堤頂大道  民權東路-高速公路">堤頂大道  民權東路-高速公路</option>
<option value="港墘路    瑞光路-堤頂大道">港墘路    瑞光路-堤頂大道</option>
<option value="堤頂大道  港墘路-樂群一路">堤頂大道  港墘路-樂群一路</option>
<option value="堤頂大道  樂群二路-基湖路">堤頂大道  樂群二路-基湖路</option>
<option value="堤頂大道  樂群一路-基湖路">堤頂大道  樂群一路-基湖路</option>
<option value="堤頂大道  基湖路-樂群二路">堤頂大道  基湖路-樂群二路</option>
<option value="堤頂大道  樂群二路-內湖路">堤頂大道  樂群二路-內湖路</option>
<option value="復興南路  和平東路-辛亥路">復興南路  和平東路-辛亥路</option>
<option value="復興南路  辛亥路-和平東路">復興南路  辛亥路-和平東路</option>
<option value="復興南路  信義路-和平東路">復興南路  信義路-和平東路</option>
<option value="復興南路  和平東路-信義路">復興南路  和平東路-信義路</option>
<option value="復興南路  仁愛路-信義路">復興南路  仁愛路-信義路</option>
<option value="復興南路  八德路-仁愛路">復興南路  八德路-仁愛路</option>
<option value="復興南路  仁愛路-八德路">復興南路  仁愛路-八德路</option>
<option value="復興北路  民生東路-八德路">復興北路  民生東路-八德路</option>
<option value="復興北路  長安東路-民生東路">復興北路  長安東路-民生東路</option>
<option value="復興北路  民族東路-民生東路">復興北路  民族東路-民生東路</option>
<option value="敦化南路  和平東路-基隆路">敦化南路  和平東路-基隆路</option>
<option value="敦化南路  基隆路-和平東路">敦化南路  基隆路-和平東路</option>
<option value="敦化南路  信義路-和平東路">敦化南路  信義路-和平東路</option>
<option value="敦化南路  和平東路-信義路">敦化南路  和平東路-信義路</option>
<option value="敦化南路  仁愛路-信義路">敦化南路  仁愛路-信義路</option>
<option value="敦化南路  信義路-仁愛路">敦化南路  信義路-仁愛路</option>
<option value="敦化南路  忠孝東路-仁愛路">敦化南路  忠孝東路-仁愛路</option>
<option value="敦化南路  仁愛路-忠孝東路">敦化南路  仁愛路-忠孝東路</option>
<option value="敦化南路  市民大道-忠孝東路">敦化南路  市民大道-忠孝東路</option>
<option value="敦化南路  忠孝東路-市民大道">敦化南路  忠孝東路-市民大道</option>
<option value="敦化南路  市民大道-南京東路">敦化南路  市民大道-南京東路</option>
<option value="敦化北路  南京東路-民生東路">敦化北路  南京東路-民生東路</option>
<option value="敦化北路　南京往南">敦化北路　南京往南</option>
<option value="敦化北路　民生往南">敦化北路　民生往南</option>
<option value="敦化北路  民生東路-民權東路">敦化北路  民生東路-民權東路</option>
<option value="堤頂大道  樂群一路-港墘路">堤頂大道  樂群一路-港墘路</option>
<option value="港墘路    堤頂大道-瑞光路">港墘路    堤頂大道-瑞光路</option>
<option value="港墘路    瑞光路-內湖路">港墘路    瑞光路-內湖路</option>
<option value="塔悠路    民生東路-民權東路">塔悠路    民生東路-民權東路</option>
<option value="愛國東路  杭州南路-中山南路">愛國東路  杭州南路-中山南路</option>
<option value="新生南路 辛亥路-羅斯福路">新生南路 辛亥路-羅斯福路</option>
<option value="新生南路  羅斯福路-辛亥路">新生南路  羅斯福路-辛亥路</option>
<option value="新生南路  和平東路-辛亥路">新生南路  和平東路-辛亥路</option>
<option value="新生南路  和平東路-信義路">新生南路  和平東路-信義路</option>
<option value="新生南路  信義路-和平東路">新生南路  信義路-和平東路</option>
<option value="新生南路  和平東路-信義路">新生南路  和平東路-信義路</option>
<option value="新生南路  仁愛路-信義路">新生南路  仁愛路-信義路</option>
<option value="新生南路  信義路-仁愛路">新生南路  信義路-仁愛路</option>
<option value="濟南路　新生南往北">濟南路　新生南往北</option>
<option value="濟南路　新生南往南">濟南路　新生南往南</option>
<option value="新光路    秀明路-指南路">新光路    秀明路-指南路</option>
<option value="新光路    動物園-秀明路">新光路    動物園-秀明路</option>
<option value="新光路    秀明路-動物園">新光路    秀明路-動物園</option>
<option value="新光路    動物園-木柵路">新光路    動物園-木柵路</option>
<option value="新光路    木柵路-動物園">新光路    木柵路-動物園</option>
<option value="瑞光路    民權東路-陽光街">瑞光路    民權東路-陽光街</option>
<option value="瑞光路    港墘路-陽光街">瑞光路    港墘路-陽光街</option>
<option value="瑞光路    陽光街-港墘路">瑞光路    陽光街-港墘路</option>
<option value="瑞光路    基湖路-港墘路">瑞光路    基湖路-港墘路</option>
<option value="瑞光路    港墘路-基湖路">瑞光路    港墘路-基湖路</option>
<option value="萬大路    莒光路-西藏路">萬大路    莒光路-西藏路</option>
<option value="萬大路    西藏路-莒光路">萬大路    西藏路-莒光路</option>
<option value="中正路    文林路-雨農路">中正路    文林路-雨農路</option>
<option value="福林路    至善路-雨農路">福林路    至善路-雨農路</option>
<option value="福林路  雨農路-至善路">福林路  雨農路-至善路</option>
<option value="艋舺大道  西園路-西藏路">艋舺大道  西園路-西藏路</option>
<option value="艋舺大道  西藏路-西園路">艋舺大道  西藏路-西園路</option>
<option value="艋舺大道  西園路-和平西路">艋舺大道  西園路-和平西路</option>
<option value="德行東路  忠誠路-東山路">德行東路  忠誠路-東山路</option>
<option value="樂群一路  敬業三路-堤頂大道">樂群一路  敬業三路-堤頂大道</option>
<option value="樂群一路  堤頂大道-敬業三路">樂群一路  堤頂大道-敬業三路</option>
<option value="龍江路    南京東路-八德路">龍江路    南京東路-八德路</option>
<option value="龍江路    八德路-南京東路">龍江路    八德路-南京東路</option>
<option value="龍江路    民生東路-南京東路">龍江路    民生東路-南京東路</option>
<option value="龍江路    南京東路-民生東路">龍江路    南京東路-民生東路</option>
<option value="龍江路    民族東路-民權東路">龍江路    民族東路-民權東路</option>
<option value="龍江路    民權東路-民族東路">龍江路    民權東路-民族東路</option>
<option value="濟南路    新生南路-杭州南路">濟南路    新生南路-杭州南路</option>
<option value="濟南路    中山北路-杭州南路">濟南路    中山北路-杭州南路</option>
<option value="濟南路    杭州南路-中山南路">濟南路    杭州南路-中山南路</option>
<option value="濟南路    杭州南路-新生南路">濟南路    杭州南路-新生南路</option>
<option value="環河南路  雙園街-和平西路">環河南路  雙園街-和平西路</option>
<option value="環河北路  民權西路-民族西路">環河北路  民權西路-民族西路</option>
<option value="環河北路  民族西路-敦煌路">環河北路  民族西路-敦煌路</option>
<option value="環河北路  敦煌路-葫蘆街">環河北路  敦煌路-葫蘆街</option>
<option value="環河北路  葫蘆街-敦煌路">環河北路  葫蘆街-敦煌路</option>
<option value="舊宗路    陽光街-民權東路">舊宗路    陽光街-民權東路</option>
<option value="舊宗路    民權東路-陽光街">舊宗路    民權東路-陽光街</option>
<option value="舊宗路    陽光街-港墘路">舊宗路    陽光街-港墘路</option>
<option value="羅斯福六段　　338巷往北">羅斯福六段　　338巷往北</option>
<option value="羅斯福路  景隆街-景中路">羅斯福路  景隆街-景中路</option>
<option value="羅斯福路  景中街-景隆街">羅斯福路  景中街-景隆街</option>
<option value="羅斯福路  興隆路-景隆街">羅斯福路  興隆路-景隆街</option>
<option value="羅斯福路  景隆街-興隆路">羅斯福路  景隆街-興隆路</option>
<option value="基隆路    羅斯福路-台科大">基隆路    羅斯福路-台科大</option>
<option value="羅斯福路  新生南路-舟山路">羅斯福路  新生南路-舟山路</option>
<option value="羅斯福路  舟山路-新生南路">羅斯福路  舟山路-新生南路</option>
<option value="羅斯福路  新生南路-辛亥路">羅斯福路  新生南路-辛亥路</option>
<option value="羅斯福路  愛國西路-和平東路">羅斯福路  愛國西路-和平東路</option>
<option value="羅斯福路  和平東路-愛國東路">羅斯福路  和平東路-愛國東路</option>
<option value="木柵路    萬芳路-秀明路">木柵路    萬芳路-秀明路</option>
<option value="木柵路    北二高-萬芳路">木柵路    北二高-萬芳路</option>
<option value="至善路    產業道路-中社路">至善路    產業道路-中社路</option>
<option value="大度路    模構溪-貴子坑溪">大度路    模構溪-貴子坑溪</option>
<option value="大度路    立德路-模構溪">大度路    立德路-模構溪</option>
<option value="辛亥路    興隆路-懷恩隧道">辛亥路    興隆路-懷恩隧道</option>
<option value="思源街    汀州路-永福橋">思源街    汀州路-永福橋</option>
<option value="華中橋往南">華中橋往南</option>
<option value="中華路    泉州街-和平西路">中華路    泉州街-和平西路</option>
<option value="康定路    桂林路-艋舺大道">康定路    桂林路-艋舺大道</option>
<option value="艋舺大道  和平西路-西園路">艋舺大道  和平西路-西園路</option>
<option value="金山南路  信義路-仁愛路">金山南路  信義路-仁愛路</option>
<option value="忠孝東　逸仙路往北">忠孝東　逸仙路往北</option>
<option value="敦化南路  南京東路-市民大道">敦化南路  南京東路-市民大道</option>
<option value="八德路    復興北路-建國北路">八德路    復興北路-建國北路</option>
<option value="長春路    松江路-建國北路">長春路    松江路-建國北路</option>
<option value="向陽路    南京東路-重陽路">向陽路    南京東路-重陽路</option>
<option value="重陽路    興華路-向陽路">重陽路    興華路-向陽路</option>
<option value="建國北路  南京東路-民生東路">建國北路  南京東路-民生東路</option>
<option value="民生東路  松江路-建國北路">民生東路  松江路-建國北路</option>
<option value="民生東路  龍江路-建國北路">民生東路  龍江路-建國北路</option>
<option value="三重路    南港路-重陽路">三重路    南港路-重陽路</option>
<option value="塔悠路    民權東路-民生東路">塔悠路    民權東路-民生東路</option>
<option value="塔悠路    南京東路-民生東路">塔悠路    南京東路-民生東路</option>
<option value="環河北路  民族西路-民權西路">環河北路  民族西路-民權西路</option>
<option value="北安路　　大直橋往南">北安路　　大直橋往南</option>
<option value="中山北   圓山隧道往南">中山北   圓山隧道往南</option>
<option value="康寧路至康湖路">康寧路至康湖路</option>
<option value="堤頂大道  內湖路-樂群二路">堤頂大道  內湖路-樂群二路</option>
<option value="內湖路二段66巷至文德路往西">內湖路二段66巷至文德路往西</option>
<option value="文德路101巷至220巷往東">文德路101巷至220巷往東</option>
<option value="文德路　成功路往西">文德路　成功路往西</option>
<option value="濱江街　　大直橋往北">濱江街　　大直橋往北</option>
<option value="內湖路一段629巷至港墘路往東">內湖路一段629巷至港墘路往東</option>
<option value="後港街 承德路往南">後港街 承德路往南</option>
<option value="內湖路一段洲子街至591巷往西">內湖路一段洲子街至591巷往西</option>
<option value="康湖路至康寧路">康湖路至康寧路</option>
<option value="內湖一段二八五往東">內湖一段二八五往東</option>
<option value="重陽大橋 延平北路六段-重陽橋">重陽大橋 延平北路六段-重陽橋</option>
<option value="內湖路一段文湖路至91巷往東">內湖路一段文湖路至91巷往東</option>
<option value="成功路五段324巷至420巷往西">成功路五段324巷至420巷往西</option>
<option value="成功四段三二四往東">成功四段三二四往東</option>
<option value="內湖路一段91巷至文湖路往西">內湖路一段91巷至文湖路往西</option>
<option value="中山北路  中正路-小北街">中山北路  中正路-小北街</option>
<option value="承德路    中正路-洲美路">承德路    中正路-洲美路</option>
<option value="仰德大道二段　2巷嶺頭山莊往西">仰德大道二段　2巷嶺頭山莊往西</option>
<option value="至善路    中社路-至善路">至善路    中社路-至善路</option>
</select>
<div id="query-button" class="ui green button">
	查詢
</div>
<div class="ui segment">
	<div id="container" width="1000" height="600"></div> 
	<div class="ui dimmer">
	  <div class="ui loader"></div>
	</div>
</div>
<script src="/js/trafficCross.js"></script>
